<template>
  <div>
    <div class="select-vue">
      <select name id v-for="item in select" :key="item.id">
        <option value v-for="option in item.model" :key="option">{{ option }}</option>
      </select>
    </div>
  </div>
</template>


<script>
export default {
  components: {
  },
  data() {
    return {
      select: [
        {
          id: 1,
          model: ["Марка", "Парка", "Сарка", "Тарка"]
        },
        {
          id: 2,
          model: ["Модель", "Кодель", "Содель", "Фодель"]
        },
        {
          id: 3,
          model: ["Год", "2010", "2012", "2014"]
        },
        {
          id: 4,
          model: ["Модификация", "Кодификация", "Фодификация", "Содификация"]
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.select-vue {
  display: flex;
  padding-left: 1.5rem;
  justify-content: space-evenly;
  select {
    padding: 9px 35px 9px 9px;
    margin-right: 8px;
    border-radius: 3px;
    box-shadow: 0px 3px 4.6px 0.4px rgba(242, 242, 243, 0.78);
    border: none;
    -webkit-appearance: none;
    background-image: url(../../assets/img/select-arrow.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;
    background-size: inherit;
    cursor: pointer;
    outline: none;
  }
}
</style>