<template>
  <div class="cargo">
    <div class="p-0 row align-items-center">
      <div class="col-xl-3">
        <div class="tires-img d-flex align-items-center">
          <img src="@/assets/img/tires.png" alt />
          <h6>Шины</h6>
        </div>
      </div>
      <div class="col-xl-9">
        <img src="@/assets/img/stock-photo.png" alt class="stock-img" />
        <div class="cargo-contnent">
          <a href="#">Диски</a>
          <a href="#">Запчасти</a>
          <a href="#">Шиномонтаж</a>
        </div>
      </div>
    </div>
    <div class="row auto-filter">
      <div class="col-xl-3">
        <form action>
          <div class="custom-radio">
            <label>
              <input
                type="radio"
                id="autoFilter"
                name="autoFilter"
                checked
                @click="cargoFilterBtn('AutoFilter')"
              />
              <div class="custom-radio__label">
                <span>по авто</span>
              </div>
            </label>
          </div>

          <div class="custom-radio">
            <label>
              <input
                type="radio"
                id="paramsFilter"
                name="autoFilter"
                @click="cargoFilterBtn('ParamsFilter')"
              />
              <div class="custom-radio__label">
                <span>по параметрам</span>
              </div>
            </label>
          </div>
        </form>
      </div>
      <div class="col-xl-9">
        <component :is="cargoFilter"></component>
      </div>
    </div>
  </div>
</template>


<script>
import AutoFilter from "./AutoFilter";
import ParamsFilter from "./PamarsFilter";
export default {
  components: {
    AutoFilter,
    ParamsFilter
  },
  data() {
    return {
      cargoFilter: "AutoFilter"
    };
  },
  methods: {
    cargoFilterBtn(cargo) {
      this.cargoFilter = cargo;
    }
  }
};
</script>

<style lang="scss">
.tires-img {
  img {
    margin-right: 1.5rem;
  }

  h6 {
    font-weight: bold;
    margin: 0;
  }
}
.cargo {
  background-color: #fafafb;
  box-shadow: 0px 3px 19.32px 1.68px rgba(220, 225, 233, 0.46);
  border-radius: 10px;
  padding-bottom: 10px;
  position: relative;
  .stock-img {
    position: absolute;
    z-index: 9;
    right: -5.5%;
    top: 1.3rem;
  }
  .cargo-contnent {
    background-image: url(../../assets/img/tires-bg.png);
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-top-right-radius: 10px;
    align-items: center;
    padding-left: 1rem;
    background-color: #e73131;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: 95% 35%;
    a {
      padding: 0 2rem;
      border-right: 1px solid #b60808;
      color: #fff;
      font-size: 15px;
      &:last-child {
        border-right: none;
      }
    }
  }

  // RADIOBUTTON STYLE
  .auto-filter {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    input {
      margin-right: 0.8rem;
    }
    .custom-radio [type="radio"]:checked,
    .custom-radio [type="radio"]:not(:checked) {
      display: none;
    }

    .custom-radio [type="radio"]:checked + .custom-radio__label,
    .custom-radio [type="radio"]:not(:checked) + .custom-radio__label {
      position: relative;
      padding: 0px 0 0px 38px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      margin-bottom: 4px;
      span {
        font-weight: 500;
        color: #9b9fa7;
      }
    }

    .custom-radio [type="radio"]:checked + .custom-radio__label:before,
    .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: transparent;
    }

    .custom-radio [type="radio"]:checked + .custom-radio__label:after,
    .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
      content: "";
      width: 14px;
      height: 14px;
      background: #eb0f0f;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .custom-radio [type="radio"]:checked + .custom-radio__label {
      span {
        color: #000;
      }
    }
    .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    .custom-radio [type="radio"]:checked + .custom-radio__label::before {
      border: 1px solid #ff9595;
    }

    .custom-radio [type="radio"]:checked + .custom-radio__label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
</style>