<template>
  <div class="item-product">
    <div class="item-img">
      <img :src=" require('../../assets/img/' + item.src) " />
    </div>
    <div class="small-text">{{item.code}}</div>
    <h6>{{item.name}}</h6>
    <div class="small-text">{{item.nameCode}}</div>
    <br />
    <h5>от {{item.price}} тг</h5>
    <div class="item-price">
      <div class="price-conter">
        <span @click="counterMinus" class="counter-btn">-</span>
        <span>{{ counter }}</span>
        <span @click="counterPlus" class="counter-btn">+</span>
      </div>
      <button @click="addToCart" class="btn-aikos item-button">
        <img src="@/assets/img/shopping-bag.png" alt /> Добавить в корзину
      </button>
      <div>
        <h6 v-if="total > 0">{{ total }}</h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      counter: 0
    };
  },
  computed: {
    total() {
      return this.counter * this.item.price;
    }
  },
  methods: {
    counterMinus() {
      if (this.counter != 0) {
        this.counter--;
      }
    },
    counterPlus() {
      this.counter++;
    },
    addToCart() {
      // console.log({ id: this.item.id, quantity: this.counter });
      this.$emit("addToCart", this.item);
    }
  }
};
</script>


<style lang="scss">
.item-product {
  padding: 10px 15px 20px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  border-radius: 8px;
  position: relative;
  .item-price {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 0 15px 15px;
    box-shadow: 0px 35px 38.76px 12.24px rgba(242, 242, 243, 0.48);
    border-radius: 0 0px 8px 8px;
    .price-conter {
      width: 50%;
      margin: 0;
      padding: 10px 10px;
      background-color: #fafafb;
      display: flex;
      align-items: center;
      justify-content: space-between;
      b {
        font-weight: bold;
      }
      span {
        font-family: "proxima-bold";
      }
    }

    .item-button {
      margin-top: 1rem;
      height: 59px;
      border-radius: 6px;
      background-image: url("../../assets/img/bg-button.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      border: none;
      border-bottom: 3px solid #a50000;
      background-color: #eb0f0f;
      display: flex;
      align-items: center;
      color: #fff;
      background-position-x: right;
      padding-left: 0.5rem;
      font-size: 15px;
      img {
        margin-right: 1rem;
      }
      &:hover {
        background-blend-mode: luminosity;
      }
    }
    .counter-btn {
      font-size: 25px;
      line-height: 25px;
      cursor: pointer;
    }
  }
  &:hover {
    .item-price {
      display: block !important;
    }
  }
  .item-img {
    text-align: center;
    img {
      margin: 0 auto;
      width: auto;
      height: 190px;
    }
  }

  h6 {
    margin-top: 1rem;
  }

  .small-text {
    color: silver;
    margin: 0;
    font-size: 15px;
  }
}
</style>