<template>
  <div class="container">
    <div class="main-fiter row">
      <div class="filter-select">
        <p>Подобрать для:</p>
        <a
          href="#"
          @click.prevent="filterBtn('Passenger')"
          :class="filterActive == 'Passenger' ? 'active' : ''"
        >Легковых</a>
        <a
          href="#"
          @click.prevent="filterBtn('Cargo')"
          :class="filterActive == 'Cargo' ? 'active' : ''"
        >Грузовых машин</a>
      </div>
      <div class="col-xl-9 p-0">
          <component :is="Headerfilter"></component>
      </div>
      <div class="col-xl-3">
        <StocsSales />
      </div>
    </div>
  </div>
   
</template>

<script>
import Passenger from "./Passenger";
import Cargo from "./Cargo";
import StocsSales from "./Stocs-Sales";

export default {
  components: {
    Passenger,
    Cargo,
    StocsSales
  },
  data() {
    return {
      title: "Filter",
      Headerfilter: "Cargo",
      filterActive: "Cargo"
    };
  },
  methods: {
    filterBtn(nextFilter) {
      this.filterActive = nextFilter;
      this.Headerfilter = nextFilter;
    }
  }
};
</script>

<style lang="scss">
.main-fiter {
  .filter-select {
    display: flex;
    align-content: center;
    font-size: 15px;
    a {
      color: #000;
      font-weight: bolder;
      font-size: 15px;
      margin-left: 1.2rem;
    }
  }
}
.active {
  font-weight: bold !important;
  color: #eb0f0f !important;
}
.animateFilter-enter-active,
.animateFilter-leave-active {
  transition: all 0.5s;
}
.animateFilter-enter,
.animateFilter-leave-to {
  transform: translateX(-150px);
  opacity: 0;
}
</style>