<template>
  <div class="main-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <div class="left-comp">
            <TiresLink :linkComponent="all" />
          </div>
        </div>
        <div class="col-xl-9">
          <Slick ref="slick" :options="slickOptions" class="main-slider">
            <div class="slick-img">
              <img src="../../assets/img/car-slider.png" alt />
            </div>
            <div class="slick-img">
              <img src="../../assets/img/car-slider.png" alt />
            </div>
            <div class="slick-img">
              <img src="../../assets/img/car-slider.png" alt />
            </div>
          </Slick>
        </div>
      </div>
    </div>
    <hr />
    <!-- PRODUCT=SLIDER -->
    <div class="product-slider">
      <div class="container">
        <div class="title-block">
          <h1>Новинки</h1>
        </div>
        <Slick ref="slick" :options="slickOptionsItems" v-if="PRODUCTS.length > 0">
          <Goods v-for="item in PRODUCTS" :key="item.id" :item="item" @addToCart="addToCart" />
        </Slick>
      </div>
    </div>
    <div class="product-slider">
      <div class="container">
        <div class="title-block">
          <h1>Популярные товары</h1>
        </div>
        <Slick ref="slick" :options="slickOptionsItems" v-if="PRODUCTS.length > 0">
          <Goods v-for="item in PRODUCTS" :key="item.id" :item="item" @addToCart="addToCart" />
        </Slick>
      </div>
    </div>
    <!-- PRODUCT=SLIDER -->

    <!-- Stock-brand -->
    <div class="container">
      <div class="stock-brand">
        <div class="row">
          <div class="col-xl-4">
            <div class="stock-slider">
              <div class="title-block">
                <h1>Акции</h1>
              </div>
              <Slick ref="slick" :options="stockSliderOption">
                <div v-for="stock in stockSlider" :key="stock.id">
                  <img :src="stock.src" alt />
                  <h6>{{stock.titleSlider}}</h6>
                  <p>{{stock.stockText}}</p>
                </div>
              </Slick>
              <div class="stock-arrow">
                <a href="#" class="prevArrow arrow-slider">
                  <img src="@/assets/img/left-slider.png" alt />
                </a>
                <a href="#" class="nextArrow arrow-slider">
                  <img src="@/assets/img/right-slider.png" alt />
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 pl-5">
            <div class="brand">
              <div class="title-block">
                <h1>Выберите бренд</h1>
              </div>
              <div class="row m-0">
                <div class="brands" v-for="brand of brands" :key="brand.id">
                  <img :src="brand.src" alt />
                </div>
                <a href="#">
                  Перейти ко всем брендам
                  <img src="@/assets/img/right-arrow.png" alt />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Stock-brand-end -->

    <!-- advertising -->
    <div class="advertising">
      <img src="../../assets/img/advertising.png" alt />
    </div>
    <!-- advertising-end -->

    <!-- Compain-news -->
    <div class="compain-news">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="title-block">
              <h2>Новости компании</h2>
            </div>
            <div>
              <div class="news d-flex" v-for="news in newsCompains" :key="news.id">
                <img :src="news.src" alt />
                <p>{{news.text}}</p>
              </div>
              <a href="#" type="button" class="aikos-button">Читать все новости</a>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="row">
              <div class="col-xl-7">
                <div class="news-content">
                  <p>{{ newsMain[0].text }}</p>
                  <a href="#">
                    <img src="@/assets/img/news-arrow.png" alt />
                  </a>
                </div>
                <div class="news-content">
                  <p>{{ newsMain[1].text }}</p>
                  <a href="#">
                    <img src="@/assets/img/news-arrow.png" alt />
                  </a>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="news-content news-content-3">
                  <p>{{ newsMain[2].text }}</p>
                  <a href="#">
                    <img src="@/assets/img/news-arrow.png" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Compain-news-end -->
  </div>
</template>


<script>
import TiresLink from "./TiresLink.vue";
import Slick from "vue-slick";
import Goods from "./Goods.vue";
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  components: {
    TiresLink,
    Slick,
    Goods
  },
  // created:function(){
  //   this.$http.get('./JSON/products.json')
  //     .then((response) =>  {this.products = response.data});
  // },
  data() {
    return {
      // trackers: ['Days', 'Hours','Minutes','Seconds'],
      newsMain: [
        {
          text: "Тест зимних шин: Не идетсяи не едется, потому что гололедица",
          img: require("@/assets/img/news-component-bg.png")
        },
        {
          text: "Новинки от фирмы Maxxis"
        },
        {
          text: "Hankook обула всех: презентация шести моделей зимних шин"
        }
      ],
      all: [
        {
          title: "Шины",
          list: ["Легкогрузовые", "Грузовые", "Сельхоз", "КГШ"]
        },
        {
          title: "Диски",
          list: ["Легковые ", "Грузовые"]
        },
        {
          list: ["Запчасти"]
        },
        {
          list: ["Расходный материал"]
        }
      ],
      stockSlider: [
        {
          src: require("@/assets/img/stock-slider.png"),
          titleSlider: "Зимние шины марки Michelin со скидкой 10%",
          stockText:
            "Условия проведения акции: При покупке зимних автомобильных шин Michelin цены включают скидку 10%*."
        },
        {
          src: require("@/assets/img/stock-slider.png"),
          titleSlider: "Зимние шины марки Michelin со скидкой 10%",
          stockText:
            "Условия проведения акции: При покупке зимних автомобильных шин Michelin цены включают скидку 10%*."
        },
        {
          src: require("@/assets/img/stock-slider.png"),
          titleSlider: "Зимние шины марки Michelin со скидкой 10%",
          stockText:
            "Условия проведения акции: При покупке зимних автомобильных шин Michelin цены включают скидку 10%*."
        }
      ],
      brands: [
        {
          src: require("@/assets/img/brand-1.png")
        },
        {
          src: require("@/assets/img/brand-2.png")
        },
        {
          src: require("@/assets/img/brand-3.png")
        },
        {
          src: require("@/assets/img/brand-4.png")
        },
        {
          src: require("@/assets/img/brand-5.png")
        },
        {
          src: require("@/assets/img/brand-6.png")
        },
        {
          src: require("@/assets/img/brand-7.png")
        },
        {
          src: require("@/assets/img/brand-8.png")
        },
        {
          src: require("@/assets/img/brand-9.png")
        },
        {
          src: require("@/assets/img/brand-10.png")
        },
        {
          src: require("@/assets/img/brand-11.png")
        },
        {
          src: require("@/assets/img/brand-12.png")
        }
      ],
      newsCompains: [
        {
          src: require("@/assets/img/calendar.png"),
          text:
            "Зимние шины стали обязательными: рассказываем, что ждёт нарушителей"
        },
        {
          src: require("@/assets/img/calendar.png"),
          text: "Рейтинг шин от сервиса «Яндекс.Маркет»"
        },
        {
          src: require("@/assets/img/calendar.png"),
          text: "Michelin установил новый рекорд на Байкале"
        }
      ],
      slickOptions: {
        slidesToShow: 1,
        infinite: false,
        dots: true,
        arrows: false
      },
      slickOptionsItems: {
        slidesToShow: 4,
        dots: false,
        infinite: false,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 2000,
        customPaging: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      },
      stockSliderOption: {
        slidesToShow: 1,
        prevArrow: ".prevArrow",
        nextArrow: ".nextArrow",
        dots: false,
        loop: true,
        padding: 0,
        infinite: false,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 2000
      }
    };
  },
  computed: {
    ...mapGetters(["PRODUCTS", "CART"])
  },
  methods: {
    ...mapActions(["GET_PRODUCTS_FROM_API", "AD_TO_CART"]),
    addToCart(data) {
      this.AD_TO_CART(data);
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API();
  }
};
</script>


<style lang="scss">
.left-comp {
  background-color: #fafafb;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
  border-radius: 10px;
}
.slick-slider {
  margin-bottom: 0 !important;
}
.main-slider {
  .slick-img {
    img {
      width: 100%;
    }
  }
  .slick-dots {
    bottom: 15%;
    text-align: left;
    padding-left: 10%;
    li {
      margin: 0 0.6rem !important;
      button::before {
        font-size: 20px;
        color: #fff !important;
        opacity: 1 !important;
      }
    }
    .slick-active {
      button::before {
        color: transparent !important;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }
  }
}
.product-slider {
  padding: 1.5rem 0 3.5rem 0;
  border-bottom: 1px solid #ebeced;
  .slick-list {
    padding: 2rem 0.5rem 10rem;
    width: 94%;
    margin: 0 auto -9rem;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slick-prev {
    top: 37%;
    left: -7px;
    background-image: url(../../assets/img/left-slider.png);
    background-color: #fff;
    z-index: 99;
    background-size: inherit;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
    border-radius: 50%;
    background-position: center;
    &:before {
      content: "";
    }
    &:hover {
      background: url(../../assets/img/left-slider.png);
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 99;
      background-color: #fff;
    }
  }
  .slick-next {
    top: 37%;
    right: -7px;
    background-image: url(../../assets/img/right-slider.png);
    background-color: #fff;
    z-index: 99;
    background-size: inherit;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
    border-radius: 50%;
    background-position: center;
    &:before {
      content: "";
    }
    &:hover {
      background: url(../../assets/img/right-slider.png);
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 99;
      background-color: #fff;
    }
  }
  .slick-arrow {
    &:focus {
      outline: none;
    }
  }
}
.stock-brand {
  padding: 4rem 0 6rem;
  .stock-slider {
    padding: 2rem 1.5rem 1rem;
    background-color: #fafcff;
    min-height: 435px;
    .title-block {
      margin-bottom: 1.5rem;
    }
    .slick-slide {
      p {
        color: #9b9fa7;
        font-size: 14px;
      }
    }
    .stock-arrow {
      display: flex;
      align-items: center;
      .arrow-slider {
        border-radius: 50%;
        border: 1px solid #eb1010;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        &:hover {
          background-color: #eb1010;
          border-bottom: 1px solid black;
          img {
            filter: invert(1);
          }
        }
      }
    }
  }
  .brand {
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
    padding: 1rem 1rem 1.5rem 2rem;
    a {
      color: #9b9fa7;
      img {
        margin-left: 1rem;
      }
      &:hover {
        text-decoration: none;
        color: #000;
        img {
          margin-left: 1.3rem;
        }
      }
    }
    .brands {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 200px;
      max-width: 30%;
      img {
        max-width: 80%;
      }
    }
  }
}
.advertising {
  padding-bottom: 3rem;
  border-bottom: 1px solid #ebeced;
  img {
    width: 100%;
  }
}
.compain-news {
  padding: 70px 0;
  background-image: url("../../assets/img/news-bg.png");
  background-size: cover;
  .news {
    align-items: center;
    margin: 2rem 0;
    padding-right: 3rem;
    p {
      margin-bottom: 0;
      font-weight: 600;
    }
    img {
      margin-right: 2rem;
    }
  }
}

.news-content {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem 1.5rem 2rem;
  font-weight: bold;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 8px;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0.5rem;
  }
  a {
    transition: all 0.5s ease;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &:nth-child(1) {
    background-image: url(../../assets/img/news-component-bg.png);
  }
  &:nth-child(2) {
    margin: 0;
    background-image: url(../../assets/img/bg-2.png);
  }
}
.news-content-3{
  height: 100% !important;
    background-image: url(../../assets/img/bg-3.png) !important;

}
@media only screen and (max-width: 576px) {
  .compain-news {
    padding: 30px 0;
    .aikos-button {
      margin-bottom: 1rem;
    }
  }
}
</style>