<template>
        <div>
        <select name="" id="">
            <option value="">Модель</option>
            <option value="">Модель</option>
            <option value="">Модель</option>
        </select>
        <select name="" id="">
            <option value="">Модель</option>
            <option value="">Модель</option>
            <option value="">Модель</option>
        </select>
        <select name="" id="">
            <option value="">Год</option>
            <option value="">Год</option>
            <option value="">Год</option>
        </select>
        <select name="" id="">
            <option value="">Модификация</option>
            <option value="">Модификация</option>
            <option value="">Модификация</option>
        </select>
    </div>
</template>

