<template>
  <div class="cargo pass">
    <div class="p-0 row align-items-center">
      <div class="col-xl-3">
        <div class="tires-img d-flex align-items-center">
          <img src="@/assets/img/tires.png" alt />
          <h6>Легковые</h6>
        </div>
      </div>
      <div class="col-xl-9">
        <img src="@/assets/img/stock-photo.png" alt class="stock-img" />
        <div class="cargo-contnent">
          <a href="#">Диски</a>
          <a href="#">Запчасти</a>
          <a href="#">Шиномонтаж</a>
        </div>
      </div>
    </div>
    <div class="row auto-filter">
      <div class="col-xl-3">
        <form action>
          <div class="custom-radio">
            <label>
              <input
                type="radio"
                id="autoFilter"
                name="autoFilter"
                checked
                @click="cargoFilterBtn('AutoFilter')"
              />
              <div class="custom-radio__label">
                <span>по авто</span>
              </div>
            </label>
          </div>

          <div class="custom-radio">
            <label>
              <input
                type="radio"
                id="paramsFilter"
                name="autoFilter"
                @click="cargoFilterBtn('ParamsFilter')"
              />
              <div class="custom-radio__label">
                <span>по параметрам</span>
              </div>
            </label>
          </div>
        </form>
      </div>
      <div class="col-xl-9">
        <component :is="cargoFilter"></component>
      </div>
    </div>
  </div>
</template>


