<template>
    <div class="right-filter">
        <div class="d-flex align-items-center sales">
            <span class="sales-img"><img src="../../assets/img/percent.png" alt=""></span>
            <h5>Акций</h5>
        </div>
        <div class="d-flex align-items-center sales">
            <span class="sales-img"><img src="../../assets/img/fire.png" alt=""></span>
            <h5>Распродажи</h5>
        </div>
    </div>
</template>




<style lang="scss">
    .right-filter {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .sales {
            width: 85%;
            height: 65px;
            border-radius: 8px;
            transform: skew(-10deg);
            justify-content: space-around;
            box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
            margin-bottom: 1rem;
            padding:0 .5rem;
            h5 {
                transform: skewX(10deg);
            }

            .sales-img {
                img {
                    transform: skewX(10deg);
                }
                padding-right: 1rem;
                border-right: 2px solid #dce1e8;
            }

        }
    }
</style>