<template>
    <div>
        <div v-for="link in linkComponent" :key="link.id" class="category-main">
            <div class="category" v-if="link.title!==undefined">
                <h6 >{{link.title}}</h6>
            </div>
            <ul v-if='link.list!==undefined' :class="{'category-ul':link.title===undefined}">
                <li v-for="name in link.list" :key="name" :class="{'category-li':link.title===undefined}">
                    <img src="@/assets/img/right-arrow.png" alt=""  v-if='link.title!==undefined'>
                    <a href="#">{{name}}</a>
                    <img src="@/assets/img/right-arrow.png" alt="" v-if='link.title===undefined'>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        // props:['categories'],
        props: ['linkComponent'],
        data() {
            return {
            }
        }
    };
</script>


<style lang="scss">
    .main-block {
        padding-top: 1.5rem;
    }

    .link-title {
        padding: 1rem 1.5rem;
    }

    .category {
        background-color: transparent;
        padding: .8rem 1.5rem;
    }
    .category-ul{
        padding-top: 0 !important;
    }
    .category-li {
        padding: .8rem 0 .8rem .8rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid silver;
        margin-bottom: 0 !important;
        a{
            font-weight: bolder;
        }
        img{
            margin-right: 0 !important;
        }
    }

    .category-main {
        ul {
            background-color: #fff;
            padding: 1rem 1.5rem .1rem 1rem;
            margin: 0;
            li {
                list-style-type: none;
                margin-bottom: 1.2rem;

                img {
                    margin-right: .8rem;
                }

                a {
                    color: #000;
                    &:hover {
                        text-decoration: none;
                        color: #9b9fa7;
                    }
                }
            }
        }
    }
</style>