/* FONTS */
@font-face {
    font-family: "proxima";
    src: url(../assets/fonts/Proxima-nova.otf);
  }
  @font-face {
    font-family: "proxima-bold";
    src: url(../assets/fonts/Proxima\ Nova\ Bold.otf);
  }
  @font-face {
    font-family: "proxima-Regular";
    src: url(../assets/fonts/Proxima-Nova-Regular.otf);
  }
  @font-face {
    font-family: 'angelicItalic';
    src: url(../assets/fonts/AngleciaProDisplayBoldItalic.otf);
  }
  
  body{
    font-family: "proxima-Regular" !important;
  }
  .title{
    font-family: "proxima-bold" !important;

  }
  a {
    font-family: "proxima-Regular";
  }
  
  body{
    font-family: "proxima-Regular";

  }
  h5{
    font-family: "proxima-Regular";
  }
  h6{
    font-family: "proxima-bold";
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "proxima-bold";
  }
  .title h1{
      font-family: "proxima-bold";
  }
  
  /* FONTS */





.silver-text {
    color: #9b9fa7;
}




