<template>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="shares-product">
        <img :src="item.src" />
      <div class="shares-text">
        <span class="silver-text">{{item.date}}</span>
        <h5>{{ item.title }}</h5>
        <div class="decription-discount">
          <p>{{ item.decription }}</p>
        </div>
      </div>
      <hr />
      <countdown :time="3 * 24 * 60 * 60 * 1000">
        <template slot-scope="props">
          <div class="countdown">
            <div class="countown-content">
              <span class="colon">{{ props.days }}</span>
              <p>дней</p>
            </div>
            <div class="countown-content">
              <span class="colon">{{ props.hours }}</span>
              <p>часов</p>
            </div>
            <div class="countown-content">
              <span class="colon">{{ props.minutes }}</span>
              <p>минут</p>
            </div>
            <div class="countown-content">
              <span>{{ props.seconds }}</span>
              <p>секунд</p>
            </div>
          </div>
        </template>
      </countdown>
    </div>
  </div>
</template>



<script>
// import Countdown from 'vuejs-countdown'
import Vue from "vue";
import VueCountdown from "@chenfengyuan/vue-countdown";

Vue.component(VueCountdown.name, VueCountdown);

export default {
  props: ["item"],
//   mounted:function(){
//       console.log(this.item);
//   },
  components: {
    // Countdown
  }
};
</script>


<style lang="scss" scoped>

.shares-product {
    img{
        width: 100%;
        max-height: 190px;
    }
  h5 {
    font-weight: bold;
  }
  .silver-text {
    font-weight: 500;
  }
  .shares-text {
    min-height: 10rem;
  }
}
.countdown {
  display: flex;
  justify-content: space-between;
  .countown-content {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 3rem;
      box-shadow: inset 0px 3px 10px 0px rgba(233, 233, 240, 0.88);
      border-radius: 3px;
      margin: 0 auto;
      font-weight: bold;
      color: #eb1111;
      position: relative;
    }
    .colon {
      &::after {
        content: ":";
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        right: -30%;
      }
    }
    p {
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 12px;
      font-family: "angelicItalic";
      font-style: italic;
      color: #9b9fa7;
    }
  }
}
</style>