<template>
  <div class="col-xl-3">
    <!-- <div class="catalog-filter">
      <div class="filter-checkbox">
        <form action>
          <div v-for="item in inputCategory" :key="item.value">
            <input type="checkbox" id="checkbox" @select="sortCategory" />
            <img :src="item.img" alt />
            <label for="checkbox">{{item.name}}</label>
          </div>
        </form>
      </div>
    </div> -->
  </div>
</template> 

<script>



export default {
  data() {
    return {
      inputCategory: [
        {
          name: "Летние",
          img: require("@/assets/img/sun.png"),
          value: "summer"
        },
        {
          name: "Зимние",
          img: require("@/assets/img/snow.png"),
          value: "winter"
        },
        {
          name: "Всесезонные",
          img: ("@/assets/img/snowsun.png"),
          value: "all"
        }
      ],
    };
  },
};
</script>


<style lang="scss">
.catalog-filter {
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  .filter-checkbox {
    margin-top: 1rem;
    form {
      div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
          margin: 0 0.5rem;
          width: 26px;
        }
        label {
          margin-bottom: 0;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

#checkbox {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #e7e9ed;
    border-radius: 3px;
  }
  &::after {
    content: "";
  }
}
#checkbox:checked {
  &::before {
    background-color: blue;
    background-color: #fff;
    box-shadow: inset 0px 2px 6px 0px rgba(251, 184, 184, 0.49);
  }
  &::after {
    width: 15px;
    height: 9px;
    position: absolute;
    top: 11px;
    left: 11px;
    border: 4px solid #eb0f0f;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
</style>