<template>
  <div class="col-xl-9">
    <div class="row">
      <div class="col-xl-4" v-for="item in PRODUCTS" :key="item.id">
        <div class="catalog-product"> 
          <Goods
        :item="item"
         @addToCart="addToCart"
        />
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import Goods from "../indexPageComponent/Goods";

export default {
  components: {
    Goods
  },
  data() {
    return {};
  },

   computed:{
    ...mapGetters([
      'PRODUCTS',
      'CART'
    ])
  },
  methods:{
    ...mapActions([
      'GET_PRODUCTS_FROM_API',
      'AD_TO_CART'
    ]),
    addToCart(data){
      this.AD_TO_CART(data)
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API();
  }
};
</script>


<style lang="scss">
.catalog-product {
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}
</style>