<template>
  <div class="container basket">
    <h1>Корзина</h1>
    <br />
    <h3 v-if="!cart_data.length" class="silver-text">Корзина пуста</h3>
    <cart-Item
    v-for="(item, index) in cart_data" 
    :key="item.id" 
    :cart_item_data="item"
    @deleteFromCart="deleteFromСart(index)"
    />
  </div>
</template>

<script>
import cartItem from "../basket/cart-item";
import {mapActions} from 'vuex'

export default {
  components: {
    cartItem
  },
  props: {
    cart_data: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {};
  },
  methods:{
    ...mapActions([
       'DELETE_FROM_CART'
    ]),
    deleteFromСart(index){
      this.DELETE_FROM_CART(index)
    }
  }
};
</script>>

<style lang="scss">
</style>