<template>
  <div class="cart-item">
    <div class="cart-item-content">
      <img :src=" require('../../assets/img/' + cart_item_data.src)" alt />
      <div>
        <p class="small-text">{{cart_item_data.code}}</p>
        <h6>{{cart_item_data.name}}</h6>
        <p class="small-text">{{cart_item_data.nameCode}}</p>
        <h5>от {{cart_item_data.price}} тг</h5>
      </div>     
    </div>
    <div class="quantity">
        <h5>Количество {{ cart_item_data.quantity }}</h5>
    </div>
    <button @click="delete_from_cart">Delete</button>
  </div>
</template>

<script>
export default {
  props: {
    cart_item_data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  mounted() {
    this.$set(this.cart_item_data, "quantity", 1);
  },
  methods:{
    delete_from_cart(){
        this.$emit('deleteFromCart')
    }
  }
};
</script>

<style lang="scss">
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  img {
    width: 100px;
    margin-right: 1.5rem;
  }
  .cart-item-content {
    display: flex;
    align-items: center;
    max-width: 40%;
  }
}
</style>