<template>
  <div class="container card-product">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <span class="breadLine"></span>
      <a href="#">Шины BFGoodrich</a>
    </div>
    <div class="title">
      <h1>
        X-Ice North 4
        <img src="@/assets/img/snowflake.png" alt />
      </h1>
    </div>
    <div class="cardMain-img">
      <img src alt />
    </div>
    <div class="row">
      <div class="col-xl-5">
        <vueper-slides
          ref="vueperslides1"
          @slide="
            $refs.vueperslides2 &&
              $refs.vueperslides2.goToSlide($event.currentSlide.index, {
                emit: false,
              })
          "
          :slide-ratio="1 / 4"
          :bullets="false"
          :arrows="false"
          class="slider-for"
        >
          <vueper-slide
            v-for="(slide, i) in cardProducts"
            :key="i"
            :title="slide.title"
            :image="slide.src"
            :autoplay="true"
          />
        </vueper-slides>

        <vueper-slides
          ref="vueperslides2"
          :slide-ratio="0 / 8"
          :dragging-distance="50"
          @slide="
            $refs.vueperslides1 &&
              $refs.vueperslides1.goToSlide($event.currentSlide.index, {
                emit: false,
              })
          "
          :visible-slides="4"
          fixed-height="100px"
          :bullets="false"
          class="slider-nav"
        >
          <vueper-slide
            v-for="(slide, i) in cardProducts"
            :key="i"
            :title="slide.title"
            :image="slide.src"
            @click.native="
              $refs.vueperslides2 && $refs.vueperslides2.goToSlide(i - 0)
            "
          ></vueper-slide>
        </vueper-slides>
      </div>
      <div class="col-xl-4 mt-3">
        <h6>Описание товара:</h6>
        <p class="silver-text">
          Зимняя нешипованная шина BFGoodrich Activan Winter Go изготовленная с
          учетом высоких требований к моделям применяемым на легком коммерческом
          транспорте. Накопленный многолетний опыт в создании шин и новые
          технологии позволили технологам компании BFGoodrich создать
          оптимальную модель для движения по влажным, ледяным и снежным дорогам.
        </p>
        <div class="info-car">
          <ul>
            <li>
              Класс шины
              <span>
                B
                <img src="@/assets/img/information.png" alt />
              </span>
            </li>
            <li>
              Сцепление на мокрой дороге
              <span>
                C
                <img src="@/assets/img/information.png" alt />
              </span>
            </li>
            <li>
              Шумность
              <span>
                78dB
                <img src="@/assets/img/information.png" alt />
              </span>
            </li>
            <li>
              Комфорт
              <span>Отсутствует</span>
            </li>
            <li>
              Тип протектора
              <span>
                Alpin
                <img src="@/assets/img/information.png" alt />
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card-item">
          <img src="@/assets/img/tires-logo.png" alt />
          <p class="silver-text">Артикул: 00-00001870</p>
          <div class="price">
            <h4>от 37 600 тг</h4>
          </div>
          <div class="item-price">
            <div class="price-conter">
              <span @click="counterMinus" class="counter-btn">-</span>
              <span>{{ counter }}</span>
              <span @click="counterPlus" class="counter-btn">+</span>
            </div>
            <v-select
              label="size"
              :value="selected"
              :options="sizes"
              :clearable="false"
              placeholder="Выбрать размер"
              :components="{OpenIndicator}"
            ></v-select>
            <button @click="addToCart" class="btn-aikos item-button">
              <img src="@/assets/img/shopping-bag.png" alt /> Добавить в корзину
            </button>
            <div>
              <h6 v-if="total > 0">{{ total }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-slider">
      <div class="container">
        <div class="title-block">
          <h1>Похожие товары</h1>
        </div>
        <Slick ref="slick" :options="slickOptionsItems" v-if="PRODUCTS.length > 0">
          <Goods v-for="item in PRODUCTS" :key="item.id" :item="item" @addToCart="addToCart" />
        </Slick>
      </div>
    </div>
  </div>
</template>

<script>
import Slick from "vue-slick";
import Goods from "../components/indexPageComponent/Goods";
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import { VueperSlides, VueperSlide } from "vueperslides";

// import { VueAgile } from 'vue-agile'

export default {
  components: {
    Slick,
    Goods,
    VueperSlides,
    VueperSlide
    // agile: VueAgile
  },
  data() {
    return {
      counter: 0,
      price: 37600,
      cardProducts: [
        {
          src: require("@/assets/img/ballon.png")
        },
        {
          src: require("@/assets/img/ballon-sun.png")
        },
        {
          src: require("@/assets/img/ballon-winter.png")
        },
        {
          src: require("@/assets/img/ballon.png")
        },
        {
          src: require("@/assets/img/ballon-sun.png")
        },
        {
          src: require("@/assets/img/ballon-winter.png")
        }
      ],
      slickOptionsItems: {
        slidesToShow: 4,
        dots: false,
        infinite: false,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 2000,
        customPaging: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      },
      sizes: [
        { size: "150" },
        { size: "160" },
        { size: "170" },
        { size: "180" }
      ],
      OpenIndicator: {
        render: createElement =>
          createElement("span", { class: { toggle: true } })
      }
    };
  },
  computed: {
    ...mapGetters(["PRODUCTS", "CART"]),
    total() {
      return this.counter * this.price;
    }
  },
  methods: {
    counterMinus() {
      if (this.counter != 0) {
        this.counter--;
      }
    },
    counterPlus() {
      this.counter++;
    },
    ...mapActions(["GET_PRODUCTS_FROM_API", "AD_TO_CART"]),
    addToCart(data) {
      this.AD_TO_CART(data);
    },
    navImg(hei) {
      alert(hei);
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API();
  }
};
</script>

<style lang="scss">
.slider-for {
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
}
.vueperslides__parallax-wrapper {
  height: 440px;
  padding: 0 !important;
  .vueperslide {
    height: 100%;
    background-position-y: center !important;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
.vueperslides__parallax-wrapper {
  &::before {
    box-shadow: none !important;
    right: auto !important;
    height: 0 !important;
    left: auto !important;
  }
}
.vueperslides__parallax-wrapper {
  &:after {
    box-shadow: none !important;
  }
}
.slider-nav {
  width: 83%;
  margin: 1rem auto 0;
  .vueperslide {
    background-size: contain !important;
    width: 25% !important;
  }
  .vueperslide--active {
    border: 1px solid #ea0b0b;
    border-radius: 10px;
  }
  .vueperslides__arrow {
    svg {
      width: 2.7rem;
      color: #ea0b0b;
      stroke-width: 2px;
    }
  }
}

.info-car {
  ul {
    padding: 0;
    margin-top: 4rem;
    li {
      list-style-type: none;
      font-weight: bold;
      border-bottom: 1px solid #ebeced;
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem;
      display: flex;
      justify-content: space-between;
      img {
        margin-left: 0.5rem;
      }
    }
  }
}

.card-item{
  padding: 30px 20px 14px;
   border-radius: 10px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  .silver-text{
    font-size: 13px;
    margin-top: 1.5rem;
  }
.item-price {
  width: 100%;
  
  background-color: #fff;
  .price-conter {
    width: 50%;
    margin: 1rem 0 0;
    padding: 10px 10px;
    background-color: #fafafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    b {
      font-weight: bold;
    }
    span {
      font-family: "proxima-bold";
    }
  }

  .item-button {
    margin-top: 1rem;
    height: 59px;
    border-radius: 6px;
    background-image: url("../assets/img/bg-button.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: none;
    border-bottom: 3px solid #a50000;
    background-color: #eb0f0f;
    display: flex;
    align-items: center;
    color: #fff;
    background-position-x: right;
    padding-left: 0.5rem;
    font-size: 15px;
    img {
      margin-right: 1rem;
    }
    &:hover {
      background-blend-mode: color-burn;
    }
  }
  .counter-btn {
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
  }
}
.item-img {
  text-align: center;
  img {
    margin: 0 auto;
    width: auto;
    height: 190px;
  }
}

h6 {
  margin-top: 1rem;
}
.v-select {
  margin: 1rem 0;
}
.vs--searchable .vs__dropdown-toggle {
  cursor: pointer !important;
}
.vs__dropdown-toggle {
  border: none !important;
  box-shadow: 0px 2px 6.37px 0.63px rgba(217, 222, 230, 0.54);
  padding: 5px 5px 12px !important;
}
.small-text {
  color: silver;
  margin: 0;
  font-size: 15px;
}
.vs__dropdown-toggle {
  align-items: center;
}
.vs__actions {
  height: 9px;
}
.vs__open-indicator {
  width: 14px;
  height: 9px;
  background-image: url(../assets/img/select-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.vs__selected-options {
  input {
    cursor: pointer;
    &::placeholder {
      font-weight: bold;
    }
  }
}
}

</style>
