<template>
  <div class="container catalog">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <span class="breadLine"></span>
      <a href="#">Каталог</a>
    </div>
    <div class="title">
      <h1>Каталог</h1>
    </div>
    <div class="row pt-4">
      <div class="col-xl-3">
        <div class="catalog-filter">
          <div class="filter-checkbox" v-for="item in inputCategory" :key="item.id">
            <h5>
              {{ item.title }}
              <img :src="item.imgTitle" alt v-if="item.imgTitle !== undefined" />
            </h5>

            <form action>
              <div v-for="i in item.list" :key="i.type">
                <input type="checkbox" id="checkbox" :value="i.type" />
                <img :src="i.img" alt v-if="i.img !== undefined" />
                <label for="checkbox"><span v-if="i.diametr !== undefined">{{i.name}}</span> <a href="#" v-if="i.diametr == undefined">{{i.name}}</a> </label>
                <img :src="i.imgTitle" alt v-if="i.name2 !== undefined" class="ml-2" />
                <label for="checkbox" v-if="i.name2 !== undefined"><span v-if="i.diametr !== undefined">{{i.name2}}</span> <a href="#" v-if="i.diametr == undefined">{{i.name2}}</a></label>
              </div>
            </form>
          </div>
          <button class="aikos-button w-100">Применить фильтр</button>
          <button class="aikos-outline-button w-100">Сбросить фильтр</button>
        </div>
      </div>
      <div class="col-xl-9 row">
        <div class="col-xl-4" v-for="item in filteredProducts" :key="item.id">
          <div class="catalog-product">
            <Goods :item="item" @addToCart="addToCart" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import Goods from "../components/indexPageComponent/Goods";

export default {
  components: {
    Goods
  },
  data() {
    return {
      inputCategory: [
        {
          title: "Сезон",
          id: 1,
          list: [
            {
              name: "Летние",
              img: require("@/assets/img/sun.png"),
              type: "summer"
            },
            {
              name: "Зимние",
              img: require("@/assets/img/snow.png"),
              type: "winter"
            },
            {
              name: "Всесезонные",
              img: require("@/assets/img/snowsun.png"),
              type: "all"
            }
          ]
        },
        {
          title: "Шипы",
          imgTitle: require("@/assets/img/information.png"),
          list: [
            {
              name: "С шипами",
              type: "yes"
            },
            {
              name: "Без шипов",
              type: "no"
            }
          ]
        },
        {
          title: "Тип автомобиля",
          list: [
            {
              name: "Легковой",
              type: "passenger"
            },
            {
              name: "Внедорожник",
              type: "suv"
            },
            {
              name: "Малые грузовики",
              name2: "и коммерческий",
              imgTitle: require("@/assets/img/information.png"),
              type: "allType"
            }
          ]
        },
        {
          title: "Диаметр",
          list: [
            {
              name: 13 + '"',
              type: "13",
              diametr: ''
            },
            {
              name: 14 + '"',
              type: "14",
              diametr: ''
            },
            {
              name: 15 + '"',
              type: "15",
              diametr: ''
            },
            {
              name: 16 + '"',
              type: "16",
              diametr: ''
            },
            {
              name: 17 + '"',
              type: "17",
              diametr: ''
            },
            {
              name: 18 + '"',
              type: "18",
              diametr: ''
            },
            {
              name: 19 + '"',
              type: "19",
              diametr: ''
            },
            {
              name: 20 + '"',
              type: "20",
              diametr: ''
            }
          ]
        }
      ],
      sortedProducts: []
    };
  },
  computed: {
    ...mapGetters(["PRODUCTS", "CART"]),
    filteredProducts() {
      if (this.sortedProducts.length) {
        return this.sortedProducts;
      } else {
        return this.PRODUCTS;
      }
    }
  },

  methods: {
    ...mapActions(["GET_PRODUCTS_FROM_API", "AD_TO_CART"]),
    addToCart(data) {
      this.AD_TO_CART(data);
    },
    sortCategory(category) {
      console.log(category);
      this.sortedProducts = [];
      let vm = this;
      this.PRODUCTS.map(function(item) {
        if (item.type === category.type) {
          vm.sortedProducts.push(item);
        }
      });
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API();
  }
};
</script>

<style lang="scss" scoped>
.catalog {
  padding-bottom: 100px;
  .catalog-product {
    margin-bottom: 1.5rem;
  }
}

.catalog-filter {
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
  .filter-checkbox {
    margin-top: 1rem;
    border-bottom: 1px solid #ebeced;
    a{
      color: #000;
    }
    input {
      margin-right: 0.5rem;
    }
    form {
      div {
        display: -webkit-box;
        align-items: center;
        margin-bottom: 1rem;
        img {
          margin-right: 0.5rem;
          width: 21px;
        }
        label {
          margin-bottom: 0;
        }
      }
    }
  }
}

#checkbox {
  position: relative;
  width: 35px;
  height: 35px;
  display: block;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid rgb(231, 233, 237);
    border-radius: 3px;
  }
  &::after {
    content: "";
  }
}
#checkbox:checked {
  &::before {
    background-color: blue;
    background-color: #fff;
    box-shadow: inset 0px 2px 6px 0px rgba(251, 184, 184, 0.49);
  }
  &::after {
    width: 15px;
    height: 9px;
    position: absolute;
    top: 11px;
    left: 11px;
    border: 4px solid #eb0f0f;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
</style>