<template>
<div class="container">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <span class="breadLine"></span>
      <a href="#">Контакты</a>
    </div>
    <div class="title">
      <h1>Контакты</h1>
    </div>
   <div class="contacts">
    <div class="contacts-content">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="contact-item">
                    <div class="contact-image">
                        <img src="../assets/img/phone.png" alt="">
                        <span>1</span>
                    </div>
                    <div class="contact-info">
                        <h1>Телефон</h1>
                        <a href="">2710</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="contact-item">
                    <div class="contact-image">
                        <img src="../assets/img/message.png" alt="">
                        <span>2</span>
                    </div>
                    <div class="contact-info">
                        <h1>Наша почта</h1>
                        <a href="" class="email">info@mail.ru</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 p-0">
                <div class="contact-item adress">
                    <div class="contact-image">
                        <img src="../assets/img/map.png" alt="">
                        <span>3</span>
                    </div>
                    <div class="contact-info">
                        <h1>Наш адрес</h1>
                        <p>г. Алматы, ул. Рыскулова, 103</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-map">
        <div class="map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab04389ca4ff26e9f3e9e0f1eb294a3c9de709d8a8179e48b567dd9fa8f8a2809&amp;source=constructor" 
            width="1110" height="515" frameborder="0"></iframe>
        </div>
        <div class="map-modal">
            <div class="modal-inner">
                <h1>Есть вопросы?</h1>
                <p>Свяжитесь с нами, и мы предоставим необходимую информацию.</p>
                <a type="button" class="aikos-button">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="requisites">
        <div class="title">
            <h4>Наши реквизиты</h4>
        </div>
        <p>Ниже приведены реквизиты компании, в случае необходимости получения дополнительных документов: свидетельства 
            о государственной регистрации, идентификационного номера налогоплательщика вы можете обратиться в 
            бухгалтерию предприятия. </p>
        <div class="requisites-info">
            <div class="requisites-list">
                <div class="row">
                    <div class="col-xl-4 p-0 col-md-4">
                        <div class="requisites-name">
                            <div class="requsites-link ">
                                <p><b>Полное наименование:</b></p>
                            </div> 
                            <div class="requsites-link ">
                             <p><b>Сокращенное наименование:</b></p>
                             </div> 
                             <div class="requsites-link ">
                             <p><b>БИН:</b></p>
                             </div>
                             <div class="requsites-link ">
                                 <p><b>Юридический адрес:</b></p>
                             </div> 
                             <div class="requsites-link">
                                 <p><b>Фактический адрес:</b></p>
                             </div> 
                             <div class="requsites-link">
                                 <p><b>Телефон, факс:</b></p>
                             </div>
                             <div class="requsites-link">
                                 <p><b>Электронная почта:</b></p>
                             </div> 
                             <div class="requsites-link">
                                 <p><b>Сайт:</b></p>
                             </div> 
                             <div class="requsites-link requsites-link-bottom">
                                 <p><b>Банковские реквизиты:</b></p>
                             </div> 
                         </div>
                     </div>
                    <div class="col-xl-8 p-0 col-md-8">
                      <div class="requisites-link-right">
                        <div class="requsites-link">
                            <p>Товарищество с ограниченной ответственностью «ЭЙКОС»</p>
                        </div> 
                         <div class="requsites-link">
                             <p>ТОО «ЭЙКОС»</p>
                         </div> 
                         <div class="requsites-link">
                            <p>960140000150</p>
                        </div> 
                        <div class="requsites-link">
                            <p>071407 Восточно-Казахстанская обл., г. Семей, ул. Кутжанова, д. 23 071407</p>
                        </div> 
                        <div class="requsites-link">
                            <p>071407 Восточно-Казахстанская обл., г. Семей, ул. Кутжанова, д. 23 071407</p>
                        </div> 
                        <div class="requsites-link">
                            <p>2710</p>
                        </div> 
                        <div class="requsites-link">
                            <a href="" class="email">e-shop@aikos.kz</a>
                        </div> 
                        <div class="requsites-link">
                            <a href="" class="email">www.aikos.kz</a>
                        </div> 
                        <div class="requsites-link requsites-link-bottom">
                            <p>БИК KCJBKZKX </p>
                            <p>АО "Банк ЦентрКредит"</p>
                            <p>б/с (KZT KZ778560000000514744)</p> 
                    </div>
                      </div>
                     </div>
                         
                </div>
            </div>
        </div>
        <div class="requisites-info-mobile">
            <div class="requisites-list">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>Полное наименование:</b></p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>Товарищество с ограниченной ответственностью «ЭЙКОС»</p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>Полное наименование:</b></p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>Товарищество с ограниченной ответственностью «ЭЙКОС»</p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>Сокращенное наименование:</b></p>
                            </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>ТОО «ЭЙКОС»</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>БИН:</b></p>
                            </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>960140000150</p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>Юридический адрес:</b></p>
                        </div> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>071407 Восточно-Казахстанская обл., г. Семей, ул. Кутжанова, д. 23 071407</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link requisites-name">
                            <p><b>Фактический адрес:</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="requsites-link">
                            <p>071407 Восточно-Казахстанская обл., г. Семей, ул. Кутжанова, д. 23 071407</p>
                        </div>
                    </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link requisites-name">
                        <p><b>Телефон, факс:</b></p>
                    </div>
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link">
                        <p>2710</p>
                    </div>
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link requisites-name">
                        <p><b>Электронная почта:</b></p>
                    </div>
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link">
                        <a href="" class="email">e-shop@aikos.kz</a>
                    </div> 
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link requisites-name">
                        <p><b>Сайт:</b></p>
                    </div> 
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link ">
                        <a href="" class="email">www.aikos.kz</a>
                    </div>
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link requsites-link-bottom requisites-name">
                        <p><b>Банковские реквизиты:</b></p>
                    </div> 
                 </div>
                 <div class="col-12 col-md-6">
                    <div class="requsites-link requsites-link-bottom">
                        <p>БИК KCJBKZKX </p>
                        <p>АО "Банк ЦентрКредит"</p>
                        <p>б/с (KZT KZ778560000000514744)</p> 
                </div>
                 </div>
                      </div>
                     </div>
                         
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
     .email{
        color: #0057C7;
        border-bottom: 2px solid #B1CCEE;
        width: fit-content;
        height: 23px;
    }
    .contacts{
        .contacts-content{
            margin: 80px 0 50px 0;
            .contact-item{
                 display: flex;
                 .contact-image{
                     position: relative;
                     &::before{
                             content: '';
                             border-radius: 50%;
                             width: 25px;
                             height: 25px;
                             position: absolute;
                             background-color: #0057C7;
                             left: 1px;
                         }
                     img{
                         width: 100px;
                         height: 100px;
                     }
                     span{
                         position: absolute;
                         left: 10px;
                         color: #fff;
                     }
                 }
              .contact-info{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 margin-left: 20px;
                 h1{
                 font-size: 24px;
                 color: rgb(37, 37, 45);
                 font-weight: bold;
                 line-height: 0.875;
                 }
                     a{
                     font-size: 18px;
                     color: rgb(37, 37, 45);
                     line-height: 1.167;
                     text-decoration: none;
                     }
                     p{
                     font-size: 18px;
                     color: rgb(37, 37, 45);
                     line-height: 1.167;
                     text-decoration: none; 
 
                     }
             }
            }
        } 
        .contact-map{
            position: relative;
            padding-bottom: 50px;
            border-bottom: 1px solid #EBECEE;
            .map{
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 15px 38.76px 12.24px rgba(242, 242, 243, 0.48);
                height: 515px;
            }
            .map-modal{
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 15px 38.76px 12.24px rgba(242, 242, 243, 0.48);
            width: 315px;
            height: 280px;
            position: absolute;
            top: 50px;
            left: 60px;
            .modal-inner{
                display: flex;
                flex-direction: column;
                padding: 40px 15px 30px 23px;
                h1{
                    font-size: 30px;
                    color: rgb(37, 37, 45);
                    font-weight: bold;
                    line-height: 1.833;
                }
                p{
                    font-size: 16px;
                    color: rgb(37, 37, 45);
                    line-height: 1.5;
                    margin-bottom: 30px;
                }
            }
            }
        }
        .requisites{
            .title{
                h4{
                    margin: 30px 0;
                }
            }
            p{
                margin-bottom: 30px;
            }
            .requisites-info{
                .requisites-list{
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 15px 38.76px 12.24px rgba(242, 242, 243, 0.48);
                    margin-bottom: 100px;
                    .requisites-name{
                        border-radius: 10px;
                        background-color: rgb(250, 250, 251);
                        height: 100%;
                        padding-left:30px;
                    }
                    .requsites-link{
                        padding: 20px 0;
                        border-bottom: 1px solid #E7E9EB;
                    }
                    .requsites-link-bottom{
                        border: none;
                        padding-bottom: 30px;
                    }
                    .requisites-link-right{
                        padding-right: 45px;
                        .requsites-link{
                            p{
                                padding-left: 30px;
                            }
                            a{
                                margin-left: 30px;
                            }
                        }
                    }
                    p{
                        margin: 0;
                    }
                }
            }
            .requisites-info-mobile{
                display: none;
                .requisites-list{
                        border-radius: 10px;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 15px 38.76px 12.24px rgba(242, 242, 243, 0.48);
                        margin-bottom: 40px;
                        .requsites-link{
                            padding: 1rem 2rem;
                            p{
                                margin: 0;
                            }
                        }
                        .requisites-name{
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                            background-color: rgb(250, 250, 251);
                        }
                    }
            }
        }
    }

    @media screen and (max-width:576px){
        .contacts{
            .contacts-content{
                margin: 30px 0 40px 0;
                .contact-item{
                    margin-bottom: 20px;
                    .contact-image{
                        &::before{
                            width: 20px;
                            height: 20px;
                            left: 3px;
                            top: 0px;
                        }
                        img{
                            width: 70px;
                            height: 70px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                  .contact-info{
                     h1{
                     font-size: 21px;
                     }
                     p{
                         font-size: 16px;
                     }
                     a{
                         font-size: 16px;
                     }
                 }
                }
                .adress{
                    padding: 0 15px;
                }
            } 
            .contact-map{
                padding-bottom: 80px;
                .map{
                    height: 200px;
                    iframe{
                        width: 100%;
                        height: 230px;
                    }
                }
                .map-modal{
                position: relative;
                top: 50px;
                left: 2px;
                width: 100%;
                .modal-inner{
                    h1{
                        font-size: 24px;
                    }
                    a{
                        text-align: center;
                    }
                }
                }
            }
            .requisites{
                .requisites-info{
                    display: none;
                }
                .requisites-info-mobile{
                    display:block;                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px){
        .contacts{
            .contacts-content{
                margin: 30px 0 40px 0;
                .contact-item{
                    margin-bottom: 20px;
                  .contact-info{
                     h1{
                     font-size: 21px;
                     }
                     p{
                         font-size: 16px;
                     }
                     a{
                         font-size: 16px;
                     }
                 }
                }
                .adress{
                    padding: 0 15px;
                }
            } 
            .contact-map{
                /* padding-bottom: 80px; */
                .map{
                    height: 400px;
                    iframe{
                        width: 100%;
                        height: 400px;
                    }
                }
                /* .map-modal{
                position: relative;
                top: 50px;
                left: 2px;
                width: 100%;
                .modal-inner{
                    h1{
                        font-size: 24px;
                    }
                    a{
                        text-align: center;
                    }
                }
                } */
            }
            .requisites{
               .requisites-info{
                   display: none;
               }
                .requisites-info-mobile{
                    display:block;
                    .requisites-list{
                        .requisites-name{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
 </style>
 