<template>
  <div class="dealer-network">
    <div class="container">
        <div class="breadcrumbs">
          <a href="#">Главная</a>
          <span class="breadLine"></span>
          <a href="#">Дилерская сеть</a>
        </div>
        <div class="title">
          <h1>Дилерская сеть</h1>
        </div>
    </div>
     <div class="map">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A11fe8dea02fd92821de8a6da3c8bb48db5ac19f0ebbbdf6a18014d25b9be1385&amp;source=constructor"
    width="100%" height="515" frameborder="0"></iframe>  
    </div>
    <div class="container">
      <div class="title">
          <h1>Адреса</h1>
    </div>
    <div class="adress-content">
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО " Казсаудашина", с.о. Геолог,</p>
                    <p>мкрн. Мирас, ул. Толе-би, стр-е 18</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                <div class="adress-contact">
                  <a href="" class="phone-link"> 8-7122-39-10-53</a>
                  <a href="" class="phone-link"> 8-777-075-86-57</a>
                  <a href="" class="email">ksh-atyrau@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО " Казсаудашина", РК, ЗКО,</p>
                    <p>г. Уральск, ул. Поповича, д.12 А, 090005</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link">  8-7112-23-63-37</a>
                  <a href="" class="phone-link">8-7112-24-07-37</a>
                  <a href="" class="email">kshsergey@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО "АВТО-ВЫБОР", РК 111 000</p>
                    <p>г. Костанай, ул. Карбышева 123/1</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link">  8-707-221-91-90</a>
                  <a href="" class="phone-link">8-7142-22-28-81</a>
                  <a href="" class="phone-link">8-7142-22-19-19</a>
                  <a href="" class="email">autovybor@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО "АсуАвто", РК, Мангистауская область,</p>
                    <p>город Актау, 25 микрорайон, здание №7, БЦ "Кулагер"</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link">  8-778-808-40-30</a>
                  <a href="" class="phone-link">8-778008-40-30</a>
                  <a href="" class="email">asu-avto@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО "Тараз-ПартнёрАвто", РК, ЮКО,</p>
                    <p>г. Тараз, ул.Ташкентская д286. 080013</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link">  8-700-756-71-12</a>
                  <a href="" class="phone-link">8-7262-56-71-12</a>
                  <a href="" class="phone-link">8- 700-756-71-11</a>
                  <a href="" class="email">tarazpartneravto@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО "Шинторг СМ норд", РК, Акмолинская область,</p>
                    <p>г. Кокшетау, ул. Ауельбекова, дом № 180</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link"> 8-705-519-09-54</a>
                  <a href="" class="phone-link">8-7162-33-84-94</a>
                  <a href="" class="email">myrshin@yandex.ru</a>
                </div>
              </div>
            </div>
          </div>
          <div class="adress-inner">
            <div class="row">
              <div class="col-xl-9 col-md-8 col-6">
                <div class="adress-info">
                  <div class="adress-icon">
                    <img src="../assets/img/adress.png" alt="">
                  </div>
                  <div class="adress-item">
                    <p>ТОО "Шинторг-Центр", РК,</p>
                    <p>г.Актобе, ул. Жургенова, 168. 030006</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-6">
                 <div class="adress-contact">
                  <a href="" class="phone-link"> 8-7132-22-18-32</a>
                  <a href="" class="phone-link">8-701-447-56-00</a>
                   <a href="" class="phone-link">8-701-884-75-12</a>
                  <a href="" class="email">kadyrov_timur_101@mail.ru</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<style lang="scss">
.dealer-network{
  .adress-content{
    margin-top: 25px;
     border-bottom: 1px solid #EBECEE;
     margin-bottom: 220px;
    .adress-inner{
      border-top: 1px solid #EBECEE;
      .adress-info{
        display: flex;
        padding: 25px 0;
        p{
          margin-bottom: 0;
          margin-left: 25px;
          font-size: 18px;
          color: rgb(37, 37, 45);
          line-height: 1.667;
        }
      }
      .adress-contact{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #FAFAFB;
        padding: 25px 0;
        padding-right: 28px;
        .phone-link{
        font-size: 24px;
        color: rgb(37, 37, 45);
        font-weight: bold;
        line-height: 1.25;
        text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .title{
    h1{
      font-size: 22px;
    }
  }
  .dealer-network {
    .map{
      iframe{
        height: 200px;
      }
    }
    .adress-content {
      margin-bottom: 70px;
      .adress-inner{
        .adress-item{
          p{
            font-size: 12px;
            margin-left: 10px;
          }
        }
         .adress-contact{
           padding-right: 6px;
           height: 100%;
           .phone-link{
             font-size: 12px;
           }
           .email{
             font-size: 10px;
             height: 15px;
           }
         }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .dealer-network {
    .adress-content{
      margin-bottom: 100px;
       .adress-inner {
         .adress-contact{
           height: 100%;
           padding-right: 10px;
         }
       }
    }
  }
}
</style>