<template>
    <div class="container shares">
      <div class="shares-head">
        <h1>Акция</h1>
        <div class="silver-text">
          <p>
            Промо-акция — это разновидность рекламной активности, при которой происходит прямой контакт с потребителем товаров или услуг. Во время этого контакта потенциальный покупатель получает информацию о товаре, услуге, условиях акций и скидках.
            Общая цель проведения промо-акций всегда одна — увеличение продаж. Но достигаться эта цель может путем реализации различных задач. В зависимости от поставленных задач, выбирается механика планируемой промо-акции.
          </p>
        </div>
      </div>
      <div class="shares-content">
        <div class="row">
          <countdown v-for="item in discount" :key="item.id" :item="item"></countdown>
        </div>
      </div>
    </div>
</template>

<script>
import "../plugin-css/main.css";
import countdown from "../components/discountComponents/countdown"


export default {
  components: {
    countdown
  },

  created() {
    this.$http
      .get("./JSON/discount.json")
      .then((response) => {this.discount = response.data;console.log(response.data)});
  },
  data() {
    return {
      discount: []
    };
  }
};
</script>

<style lang="scss">
/* FONTS */
@font-face {
  font-family: "proxima";
  src: url(../assets/fonts/Proxima-nova.otf);
}

@font-face {
  font-family: "proxima-Regular";
  src: url(../assets/fonts/Proxima-Nova-Regular.otf);
}

a {
  font-family: "proxima-Regular";
}

.shares {
  padding-bottom: 4rem;
  .shares-head {
    h1 {
      margin-bottom: 1rem;
    }
  }
.shares-content {
  margin-top: 3rem;
  .shares-product {
    background-color: #fff;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
    border-radius: 10px;
    padding: 15px 20px 15px 10px;
    margin-bottom: 2.5rem;
    h5 {
      margin: 0.8rem 0;
      font-size: 18px;
    }
  }
}
}

/* FONTS */
</style>