<template>
  <div>
    <HeaderFilter />
    <Mainblock />
  </div>
</template>

<script>

import HeaderFilter from "../components/indexPageComponent/HeaderFilter.vue";
import Mainblock from "../components/indexPageComponent/Mainblock.vue";

export default {
    components:{
        HeaderFilter,
        Mainblock
    }
}
</script>