<template>
    <div class="order">
        <div class="container">
            <div class="title">
                <h1>Как сделать заказ</h1>
            </div>
            <br>
            <div class="questions-order">
                <div class="title">
                    <h4>Как оплатить заказ?</h4>
                </div>
                <p>Оплата заказа проходит после его оформления. Вы можете выбрать наиболее удобный способ оплаты:</p>
                
                <div class="order-list">
                    <ul class="p-0 mt-4">
                        <li><img src="../assets/img/add.png" alt=""><p>наличными при получении заказа в шинном центре,</p></li>
                        <li><img src="../assets/img/add.png" alt=""><p>безналичным платежом через банк,</p></li>
                        <li><img src="../assets/img/add.png" alt=""><p>купить в кредит</p></li>
                    </ul>
                </div>
            </div>
            <div class="order-content">
                <div class="order-content-main">
                    <div class="order-content-img">
                        <img src="../assets/img/order=1.png" alt="">
                    </div>
                    <div class="order-content-text">
                        <div class="title">
                            <p>1.   Наличный расчет в шинном центре</p>
                        </div>
                        <p>При наличном расчете, после согласования с оператором даты и времени получения заказа, Вам необходимо приехать в шинный центр и оплатить товар наличными в кассе, либо при помощи карты через банковский терминал (к оплате принимаются платежные карты VISA и MasterCard).</p>
                    </div>
                </div>
                <div class="order-content-main">
                    <div class="order-content-img">
                        <img src="../assets/img/order=2.png" alt="">
                    </div>
                    <div class="order-content-text">
                        <div class="title">
                            <p>2.   Безналичный банковский платеж</p>
                        </div>
                        <p>Вы можете распечатать счет и оплатить его непосредственно через банк. В данном случае внимательно вводите данные, чтобы счет для Вас распечатался правильно и в банке приняли оплату.</p>
                    </div>
                </div>
                <div class="order-content-main">
                    <div class="order-content-img">
                        <img src="../assets/img/order=3.png" alt="">
                    </div>
                    <div class="order-content-text">
                        <div class="title">
                            <p>3.   Купить в кредит</p>
                        </div>
                        <p>ТОО «Эйкос» предлагает своим клиентам купить шины и диски в кредит. В сети наших шинных центров услуги кредитования предлагают: АО «Евразийский Банк», «Альфа-банк» и банк «Хоум кредит».</p>
                    </div>
                </div>
            </div>
            <div class="delivery">
                <div class="title">
                    <h4>Доставка</h4>
                </div>
                <div class="delivery-content">
                    <h6>Самовывоз</h6>
                    <br>
                    <h6>Для наших покупателей доступна функция бронирования товара «онлайн» через оформление заказа на сайте и его самовывоз в городах, где есть шинные центры «Эйкос»!</h6>
                    <br>
                    <p>После подтверждения готовности заказа менеджером, Вы можете подъехать в ближайший шинный центр, указанный оператором, и забрать свой заказ.
                    </p>
                    <p>В зависимости от шинного центра и способа оплаты заказа, при получении, вам необходимо иметь при себе:</p>
                    <ul class="p-0">
                        <li>
                            <p><span><img src="../assets/img/add.png" alt=""></span> При безналичной оплате – документ, удостоверяющий личность. Для юридических лиц дополнительно нужна печать организации, или доверенность на получение товара.</p>
                        </li>
                        <li>
                            <p><span><img src="../assets/img/add.png" alt=""></span> При предварительной оплате в офисе наличными или банковской картой – чек, подтверждающий предоплату.</p>
                        </li>
                        <li>
                            <p><span><img src="../assets/img/add.png" alt=""></span> При оплате на сайте банковской картой – документ, удостоверяющий личность и карту, которой был оплачен заказ. В случае, если оплата происходила по карте, не принадлежащей получателю заказа, необходимо иметь при себе доверенность на право получения товара от владельца карты, а также копию паспорта владельца карты и доверенного лица. В доверенности должны быть указаны паспортные данные владельца карты и доверенного лица;</p>
                        </li>
                        <li>
                            <p><span><img src="../assets/img/add.png" alt=""></span>При покупке в кредит – кредитный договор, подписанный банком и покупателем, и документ, удостоверяющий личность.</p>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>

        <div class="delivery-content-2">
            <div class="container">
             <div class="title">
                 <h4>Доставка по Казахстану</h4>
                 <br>
                 <h6>Наша компания работает со следующими транспортными компаниями: Post Express и DPD. По умолчанию, при наличии возможности, мы отправим заказ при помощи нашего транспортного парка.</h6>
             </div>
             <div class="delivery-content-text">
                 <p>Доставка транспортной компанией производится после полной оплаты заказа. Услуги доставки оплачиваются отдельно, при получении товара в транспортной компании или курьеру, согласно заявленным и действующим на момент получения товара расценкам самих транспортных компаний.</p>
                 <br>
                 <p>Для получения товара вам нужно иметь при себе документ, удостоверяющий личность. Для юридических лиц нужен оригинал доверенности на получение товара и документ, удостоверяющий личность, прописанный в доверенности.</p>
                 <br>
                 <p>Материальная ответственность за сохранность, внешний вид товара переходит к перевозчику в момент его передачи в транспортную компанию.Для предотвращения недоразумений убедительно просим Вас внимательно проверять целостность упаковки и самого товара ДО ПОДПИСАНИЯ документов о получении заказа! При обнаружении любых повреждений упаковки, требуйте ее вскрыть для последующего осуществления осмотра целостности заказа и составления коммерческого акта от перевозчика с описанием повреждений. Клиент вправе отказаться от получения данного товара с указанием причины.</p>
                 <br>                        
                 <p>В случае халатного отношения к внешней проверке упаковки, получении груза с визированием всех документов о получении, поставщик товара и региональная логистическая компания снимают с себя всякую ответственность. В этом случае дальнейшие претензии о возможных повреждениях заказа невозможны!</p>
             </div>
            </div>
         </div>
         <div class="container">
            <div class="conditions-block">
                <div class="title">
                    <h4>Условия обмена и возврата товара</h4>
                </div>
                <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>Покупатель вправе отказаться от покупки до момента передачи товара в любое время без объяснения причин, после передачи товара - в течение 14 дней.
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>Товар должен сохранять свой товарный вид, оригинальную упаковку и потребительские свойства. 
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>
                        При возврате или обмене товара покупатель при себе должен иметь товарную накладную, кассовый чек или любой иной документ, подтверждающий факт приобретения товара. 
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>Покупатель по электронной почте или по телефону должен уведомить продавца о намерении поменять или вернуть товар. Не принимаются к возврату шины без пакетов, использованные или бортированные.
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>Не принимаются к возврату диски без коробок, без крепежа (болты или гайки, центровочные кольца), если он был в комплекте, без декоративной заглушки или колпака, в зависимости от комплектации, бортированные или с испорченным лакокрасочным покрытием.
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>Возврат денежных средств осуществляется в течение 10 дней с момента предъявления покупателем соответствующего требования в офисе продавца по адресу: Восточно-Казахстанская обл., г. Семей, ул. Кутжанова, д. 23., ежедневно с 10 до 17 кроме субботы и воскресенья.
                    </p>
                 </div>
                 <div class="d-flex align-items-start mt-4">
                    <img src="../assets/img/correct.png" alt="">
                    <p>
                        Если Вы обнаружили брак при монтаже или в период эксплуатации, сразу свяжитесь с нами по телефону 2710, оператор сообщит основные условия обмена или возврата товара. После этого Вам необходимо будет привезти данный товар на наш склад, имея на руках товарную накладную и товарный чек для проведения последующей экспертизы. Экспертиза проводится не более 2-х недель. При подтверждении заводского брака товар будет заменен.
                    </p>
                 </div>
                 <div class="conditions-end-text mt-3">
                     <p>Подробные условия возврата товара описаны в законе Республики Казахстан «О защите прав потребителей» от 4 мая 2010 года № 274-IV ЗРК.</p>
                     <h6>Внимание! Если покупателю осуществлялась платная доставка, то при возврате продукции деньги, уплаченные за доставку, не возвращаются!</h6>
                 </div>
             </div>
           <div class="credit-block">
               <div class="title">
                   <h4>
                       Как оформить кредит*:
                   </h4>
               </div>
               <p>При наличном расчете, после согласования с оператором даты и времени получения заказа, Вам необходимо приехать в шинный центр и оплатить товар наличными в кассе, либо при помощи карты через банковский терминал (к оплате принимаются платежные карты VISA и MasterCard).</p>
               <div class="credit-content">
                   <ul class="p-0">
                       <li>
                           <img src="../assets/img/credit-1.png" alt="">
                            <b>Обратиться к менеджеру Банка с удостоверением личности в сети шинных центров «Эйкос».</b>
                    </li>
                       <li>
                           <img src="../assets/img/credit-2.png" alt="">
                            <b>Ознакомиться с условиями кредитования выбранного Вами банка.
                            </b>
                        </li>
                       <li>
                           <img src="../assets/img/credit-3.png" alt="">
                            <b>Подать заявление на получение кредита и дождаться ответа.</b>
                        </li>
                       <li>
                           <img src="../assets/img/credit-4.png" alt="">
                            <b>Своевременно погашать кредит согласно условиям выбранного Вами банка.</b>
                        </li>
                   </ul>
               </div>
               <div class="credit-text">
                <p>*Кредиты предоставляются Банком-партнером только для физических лиц. При покупке в кредит скидки не предоставляются.</p>
                <p>При заказе просим обязательно информировать менеджера, каким образом Вы планируете осуществить оплату. Обращаем ваше внимание, что при оплате заказа с помощью банковских карт непосредственно на сайте, отгрузка товара осуществляется строго владельцу карты!
                 Оплата товара и доставки производится только в тенге. Все цены включают НДС 12%.</p>

                 <p>По всем вопросам, связанным с оплатой заказа, Вы можете обратиться к нам, задав вопрос по почте e-shop@aikos.kz или позвонив  по телефону 2710.</p>

                 <h6>Внимание! При оформлении доставки необходимая 100% предоплата удобным Вам способом. </h6>
            </div>
            </div>
         </div>
    </div>
    
</template>


<script>
export default {
    
}
</script>


<style lang="scss">
    .order{
        padding-bottom: 6rem;
        .questions-order{
            .title{
                margin-bottom: 1rem;
            }
            ul{
                li{
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    p{
                        margin: 0 0 0 1rem;
                        font-family: "proxima-bold";
                    }
                    .fa-plus-square{
                        font-size: 22px;
                    }
                }
            }
        }
        .order-content{
            margin-top: 3rem;
            border-bottom: 1px solid #ebeced;
            padding-bottom: 1.5rem;
            .order-content-main{
            border-radius: 6px;
            box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            padding: 1.5rem 3rem 1rem 1rem;
            .order-content-img{
                width: fit-content;
                margin-right: 1.5rem;
                img{
                    width: 75px;
                }
            }
        }
        }
        .delivery{
            padding-top: 1.5rem;
            .delivery-content{
                ul{
                    li{
                        display: flex;
                        align-items: baseline;
                        list-style-type: none;
                        margin-bottom: 1rem;
                        span{
                            margin-right: .5rem;
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    .delivery-content-2{
            padding-top: 2rem;
            background-image: url('../assets/img/map-bg.png');
            background-repeat: no-repeat;
            background-position-y: 0;
            background-position-x: 1rem;
            .delivery-content-text{
                border-bottom: 1px solid #ebeced;
                padding-bottom: 1.5rem;
            }
        }
        .conditions-block{
            padding: 1.5rem 0;
            border-bottom: 1px solid #ebeced;
            img{
                margin-right: 1rem;
            }
        }
        .credit-block{
            .credit-content{
                box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
                border-radius: 6px;
                padding: 1.5rem 1.5rem .5rem;
                ul{
                    li{
                        list-style-type: none;
                        margin-bottom: 1rem;
                        img{
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .credit-text{
                margin-top: 2rem;
                h6{
                    margin-top: 1.5rem;
                }
            }
        }
</style>