<template>
  <div class="container questions">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <div class="silver-text">
      <p>В данном разделе приведены ответа на часто задаваемые вопросы посетителей Вашего будущего сайта. Использование данного раздела позволит сократить нагрузку на операторов и повысить удовлетворенность ваших клиентов.</p>
    </div>
    <div class="qustions-block">
      <div class="qustions-content">
          <questions  v-for="item in questions" :key="item.id" :item="item" />
      </div>
    </div>
  </div>
</template>

<script>

import questions from "../components/questionsComponent/questions"
export default {
  components: {
      questions
  },

  data() {
    return {
      title: "Вопрос-ответ",
      questions: [
        {
          id: 1,
          title: "Где мне забрать заказ?",
          description:
            "В пределах города доставка осуществляется бесплатно, по городам Казахстана экспресс-доставкой Post Express. "
        },
        {
          id: 2,
          title: "Cколько стоит доставка?",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, amet.2"
        },
        {
          id: 3,
          title: "В какое время я могу связаться с вами?",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, amet.3 "
        },
        {
          id: 4,
          title: "Есть ли у вас скидки?",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, amet.4 "
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.questions{
  padding: 0 0 6rem;
.qustions-block{
        margin-top: 3rem;
    }
}

    
</style>