<template>
    <div class="container sitemap">
        <h1>Карта сайта</h1>

        <div class="row sitemap-content">
           <div class="col-xl-6">
                <div class="sitemap-link" v-for="item in siteCategories" :key="item.title">
                    <h4>{{ item.title }}</h4>
                <ul>
                    <li v-for="link in item.list" :key="link">
                        <img src="../assets/img/right-arrow.png" alt="">
                        <a href="#">{{link}}</a>
                    </li>
                    <!-- <div class="siteLink">
                        <h4 v-for="linkPage in item.linkPage" :key="linkPage"><a href="#">{{linkPage}}</a></h4>
                    </div> -->
                </ul>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="sitemap-link" v-for="item in siteCategoriesRight" :key="item.title">
                    <h4>{{ item.title }}</h4>
                <ul>
                    <li v-for="link in item.list" :key="link">
                        <img src="../assets/img/right-arrow.png" alt="">
                        <a href="#">{{link}}</a>
                    </li>
                    <div class="siteLink">
                        <h4 v-for="linkPage in item.linkPage" :key="linkPage"><a href="#">{{linkPage}}</a></h4>
                    </div>
                </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import siteMapDropdown from "../components/siteMap/siteMapDropdown"

export default {
    components:{
        // siteMapDropdown
    },
    data(){
        return{
            siteCategories:[
            {
                    title: "Покупателям",
                    list: ["Услуги","Отзывы ","Прайс-лист ","Документы","Вопрос / Ответ","Контакты"]
                },
                {
                    title: "Информация",
                    list: [" О компании","Новости","Статьи","Акции","Вакансии"],
                }
            ],
           
            siteCategoriesRight:[
            {
                    title: "Информация",
                    list: ["О компании","Новости ","Статьи ","Акции"]
                },
                {
                    title: "Диски",
                    list: ["Легковые","Грузовые"],
                    linkPage: ["Запчасти","Расходный материал","Калькулятор"]
                }
            ]
        }
    }
}
</script>

<style lang="scss">
    .sitemap{
        padding-bottom: 120px;
        .sitemap-content{
            padding-top: 50px;
        ul{
            padding: 0;
            margin-bottom: 3rem;
            li{
                list-style-type: none;
                margin: .8rem 0;
                img{
                    margin-right: 1rem;
                }
            }
        }
        .sitemap-link{
            margin-bottom: 1rem;
        }
        a{
                    color: #000;
                    border-bottom: 1px solid #e3e3e4;
                    padding-bottom: 2px;
                    &:hover{
                        text-decoration: none;
                        border-bottom: 2px solid #fce0e0;
                       color:#eb0d0d;
                    }
                }
        .siteLink{
            margin-top: 3.5rem;
            h4{
                font-weight: 600;
            }
        }
        .sitemapDropdown{
            a{
                display: block;
                width: fit-content;
            }
        }
    }
    }
   
</style>