<template>
    <div class="container">
        <div class="breadcrumbs">
          <a href="#">Главная</a>
          <span class="breadLine"></span>
          <a href="#">Social bar</a>
        </div>
        <div class="title">
          <h1>Social bar</h1>
        </div>
        <div class="social-bar">
            <p>Подписывайтесь на нас в соцсетях:</p>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="social-content vk-content">
                <div class="social-icon">
                  <a href=""><img src="../assets/img/vk-icon.png" alt=""></a>
                </div>
                <div class="social-link">
                  <a href="">aikoskzz</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="social-content odnoklassniki-content">
                <div class="social-icon">
                  <a href=""><img src="../assets/img/odnoklassniki-icon.png" alt=""></a>
                </div>
                <div class="social-link">
                  <a href="">aikoskz</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="social-content facebook-content">
                <div class="social-icon">
                  <a href=""><img src="../assets/img/facebook-icon.png" alt=""></a>
                </div>
                <div class="social-link">
                  <a href="">aikoskz</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="social-content instagram-content">
                <div class="social-icon">
                  <a href=""><img src="../assets/img/instagram-icon.png" alt=""></a>
                </div>
                <div class="social-link">
                  <a href="">aikos.kz</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="social-content youtube-content">
                <div class="social-icon">
                  <a href=""><img src="../assets/img/youtube-icon.png" alt=""></a>
                </div>
                <div class="social-link">
                  <a href="">ТОО Эйкос</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>   
</template>


<style lang="scss">
.social-bar{
  margin-bottom: 200px;
  p{
    font-size: 24px;
    color: rgb(37, 37, 45);
    line-height: 2.292;
    margin-bottom: 0;
  }
  .social-content{
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 22.04px 6.96px rgba(242, 242, 243, 0.77);
      width: 265px;
      height: 375px;
      display: flex;
      justify-content: center;
      position: relative;
      background-position-y: center;
      background-position-x: center;
      margin-top: 80px;
      margin-bottom: 10px;
    .social-icon{
      border-radius: 50%;
      width: 72px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -30px;
    }
    .social-link{
          width: 148px;
          height: 39px;
          padding: 0.5rem 1rem;
          -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
          border-radius: 5px;
          text-align: center;
          margin-top: 60px;
      a{
          font-size: 16px;
          color: rgb(0, 0, 0);
          font-weight: bold;
          line-height: 1.438;
      }
    }
  }
  .vk-content{
    background-image: url(../assets/img/vk-social.png);
   
    .social-icon{
       background-color: rgb(79, 127, 181);
       box-shadow: 0px 6px 8px 0px rgba(79, 127, 181, 0.42);
    }
    .social-link{
        background-color: #F2F6FC;
    }
  }
  .odnoklassniki-content{
    background-image: url(../assets/img/odnoklassniki.png);
   .social-icon{
    background-color: rgb(255, 134, 0);
    box-shadow: 0px 6px 8px 0px rgba(255, 134, 0, 0.42);
    }
    .social-link{
        background-color: #FFF8F2;
    }
  }
  .facebook-content{
    background-image: url(../assets/img/facebook.png);
   .social-icon{
    background-color: rgb(55, 95, 173);
    box-shadow: 0px 6px 8px 0px rgba(55, 95, 173, 0.42);
    }
    .social-link{
        background-color: #F4F7FB;
    }
  }
  .instagram-content{
    background-image: url(../assets/img/insta.png);
   .social-icon{
    background-color: rgb(197, 12, 87);
    box-shadow: 0px 6px 8px 0px rgba(197, 12, 87, 0.42);
    }
    .social-link{
        background-color: #FFF3F6;
    }
  }
  .youtube-content{
     background-image: url(../assets/img/youtube.png);
   .social-icon{
      background-color: rgb(232, 13, 0);
      box-shadow: 0px 6px 8px 0px rgba(232, 13, 0, 0.42);
    }
    .social-link{
        background-color: #FFF3F2;
    }
  }
}

@media screen and (max-width: 576px){
  .social-bar{
    margin-bottom: 100px;
    p{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .social-content{
          margin: 40px auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .social-bar{
    margin-bottom: 50px;
    .social-content{
      margin: 50px auto;
    }
  }
}
</style>