<template>
  <div class="tires-models">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <div>
            <ul>
              <li v-for="name in tiresModelName" :key="name.title">
                <a href="#" @click.prevent="modelNames">{{ name.title }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-9">
          <div class="row">
            <div class="col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
export default {
  created() {
    this.$http.get("./JSON/tiresModel.json").then(response => {
      this.tiresModel = response.data;
    });
    this.$http.get("./JSON/tiresModelName.json").then(response => {
      this.tiresModelName = response.data;
    });
  },
  data() {
    return {
      tiresModelName: [],
      tiresModel: []
    };
  },
  methods: {
    modelNames() {
      console.log(this.tiresModel)
    }
  }
};
</script>