<template>
  <div class="container tires-service">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <span class="breadLine"></span>
      <a href="#">Шиномонтаж</a>
    </div>
    <div class="title">
      <h1>Шиномонтаж</h1>
    </div>
    <div class="tires-description">
      <p>В каждом шинном центре «Эйкос» высококвалифицированный персонал предложит клиенту полный перечень услуг, связанный с шинной продукцией, а именно:</p>
      <ul>
        <li>
          <img src="@/assets/img/add.png" alt />
          <p>продажу автошин и дисков,</p>
        </li>
        <li>
          <img src="@/assets/img/add.png" alt />
          <p>установку колес,</p>
        </li>
        <li>
          <img src="@/assets/img/add.png" alt />
          <p>балансировку,</p>
        </li>
        <li>
          <img src="@/assets/img/add.png" alt />
          <p>ремонт шин и камер любой сложности.</p>
        </li>
      </ul>
      <p>Все работы выполняются на самом современном итальянском и немецком и российским оборудованием специалистами высокого класса с использованием высококачественных материалов. На все предлагаемые товары и сервис компания предоставляет гарантию.</p>
    </div>
    <div class="tires-services">
      <div class="tires-services-header">
        <p>Шаг 1. Выберите услуги из списка</p>
      </div>
      <div class="row m-0 tires-services-content">
        <div class="col-xl-4 p-0" v-for="item in formServices" :key="item.id">
          <ul class="p-0">
            <li v-for="label in item.label" :key="label">
              <input type="checkbox" id="checkBox2" class="checkBox2" />
              <label for="#">{{ label }}</label>
            </li>
          </ul>
        </div>
        <a type="button" class="aikos-button">Далее</a>
      </div>
    </div>
    <div class="tires-services">
      <div class="tires-services-header">
        <p>Шаг 2. Вы храните шины у нас?</p>
      </div>
      <div class="tires-services-content">
        <div class="col-xl-5 number-contacts p-0">
          <form action>
            <div class="inputLabel">
              <input type="radio" name="number" class="radio" id="yes" />
              <label for="yes">Да</label>
            </div>
            <input type="text" placeholder="№ Договора" />
            <div class="inputLabel">
              <input type="radio" name="number" class="radio" id="no" />
              <label for="no">нет</label>
            </div>
          </form>
        </div>
        <a type="button" class="aikos-outline-button">Назад</a>
        <a type="button" class="aikos-button">Далее</a>
      </div>
    </div>
    <div class="tires-services">
      <div class="tires-services-header">
        <p>Шаг 3. Выберите шинный центр</p>
      </div>
      <div class="tires-services-content">
        <div class="row m-0">
          <div class="col-xl-3 p-0" v-for="item in formCity" :key="item.id">
            <ul class="p-0">
              <li v-for="label in item.label" :key="label">
                <input type="checkbox" id="checkBox2" class="checkBox2" />
                <label for="#">{{ label }}</label>
              </li>
            </ul>
          </div>
        </div>
        <a type="button" class="aikos-outline-button">Назад</a>
        <a type="button" class="aikos-button">Далее</a>
      </div>
    </div>
    <div class="tires-services">
      <div class="tires-services-header">
        <p>Шаг 4. Оставьте контакты</p>
      </div>
      <div class="tires-services-content tires-service-last">
        <div class="row m-0">
          <div class="col-xl-6 tires-contacts p-0">
            <div class="title">
              <h2>
                Оставьте свои контакты,
                <br />и мы
                <span>запишем</span> вас на услугу
              </h2>
            </div>
            <p>
              Вам перезвонит менеджер в ближайшее время
              для уточнения деталей
            </p>
            <div class="row mt-4">
              <div class="col-xl-4">
                <b>
                  Марка автомобиля
                  <span>*</span>
                </b>
                <v-select
                  placeholder="huinday"
                  label="mark"
                  :options="marks"
                  :clearable="false"
                  :components="{OpenIndicator}"
                ></v-select>
              </div>
              <div class="col-xl-6">
                <b>
                  Модель автомобиля
                  <span>*</span>
                </b>

                <v-select
                  label="model"
                  placeholder="i-30"
                  :options="models"
                  :clearable="false"
                  :components="{OpenIndicator}"
                ></v-select>
              </div>
            </div>
          </div>
          <div class="col-xl-6 tires-form">
            <form action>
              <label for>
                Гос. номер автомобиля
                <span>*</span>
              </label>
              <input type="text" placeholder="234 blm 01" />
              <label for>
                Ваше имя
                <span>*</span>
              </label>
              <input type="text" placeholder="Булат" />
              <label for>
                Ваш номер телефона
                <span>*</span>
              </label>
              <input type="text" placeholder="+7 (" />
            </form>
            <a type="button" class="aikos-button">Записаться на услугу</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formServices: [
        {
          id: 1,
          label: ["Шиномонтажные услуги", "Ремонт шин", "Выездной шиномонтаж"]
        },
        {
          id: 2,
          label: [
            "Правка диска",
            "Развал-схождение",
            "Приточка тормозных дисков"
          ]
        },
        {
          id: 3,
          label: ["Ошиповка шин", "Замена масла", "Мелко-срочный ремонт авто"]
        }
      ],
      formCity: [
        {
          id: 1,
          label: ["Алматы", "Павлодар", "Усть-Каменскогорск"]
        },
        {
          id: 2,
          label: ["Караганда", "Петропавловск", "Шымкент"]
        },
        {
          id: 3,
          label: ["Кызылорда", "Семей", "Экибастуз"]
        },
        {
          id: 4,
          label: ["Нур-Султан", "Степногорск"]
        }
      ],
      OpenIndicator: {
        render: createElement =>
          createElement("span", { class: { toggle: true } })
      },
      marks: [
        { mark: "hyundai" },
        { mark: "audi" },
        { mark: "mers" },
        { mark: "bmw" }
      ],
      models: [
        { model: "i30" },
        { model: "a90" },
        { model: "l37" },
        { model: "e89" }
      ]
    };
  }
};
</script>


<style lang="scss">
.tires-service {
  padding-bottom: 120px;
  label {
    margin: 0;
    margin-left: 1rem;
  }
  .tires-description {
    margin: 1rem 0 4rem;
    ul {
      padding: 0;
      margin: 1rem 0;
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        p {
          margin-bottom: 0;
          margin-left: 0.8rem;
        }
      }
    }
  }
  .tires-services {
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.8);
    margin-top: 3rem;
    
    .tires-services-header {
      background-color: #25252d;
      border-radius: 8px 8px 0 0;
      color: #fff;
      padding: 0.7rem 1.5rem;
      p {
        margin-bottom: 0;
      }
    }
    .tires-services-content {
      padding: 36px;
      ul {
        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }
      }
    }
    .aikos-button {
      margin-top: 2rem;
      padding: 1rem 60px;
    }
    .aikos-outline-button {
      padding: 1rem 60px;
      margin-right: 1rem;
    }
    .number-contacts {
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input[type="text"] {
        width: 50%;
        padding: 0.5rem;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px 3px 10px 0px rgba(232, 232, 236, 0.88);
      }
      .inputLabel {
        display: flex;
        align-items: center;
      }
    }
  }
  .tires-service-last {
    background-image: url("../assets/img/services-bg.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 10%;
  }
  .tires-contacts {
    .title {
      span {
        color: #1c58c3;
        font-style: italic;
      }
    }
    b {
      span {
        color: #ec1111;
      }
    }
    .v-select {
      margin-top: 1rem;
      border-radius: 3px;
      box-shadow: 0px 8px 15.04px 0.96px rgba(197, 197, 202, 0.3);
      .vs__dropdown-toggle {
        border: none;
        height: 50px;
        padding: 0 6px;
        cursor: pointer;
      }
    }
    .vs__open-indicator {
      width: 20px;
      height: 9px;
      background-image: url(../assets/img/arrow-select.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .tires-form {
    border-left: 1px solid #ebeced;
    padding-left: 4rem;
    input {
      padding: 0.8rem 1rem;
      border: none;
      box-shadow: inset 0px 3px 10px 0px rgba(232, 232, 236, 0.88);
      border-radius: 3px;
      width: 80%;
      margin-bottom: 1rem;
    }
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .tires-service {
    .tires-services-content {
      padding: 1rem 1rem 2rem !important;
    }
    .tires-contacts{
      margin-bottom: 2rem;
      b{
        margin-top: 1rem;
        display: block;
      }
    }
    .tires-form {
      padding: 0;
      border: none;
      input {
        width: 100%;
      }
    }
    .aikos-button {
      padding: 1rem 20px !important;
      width: 100%;
    }
  }
}
</style>