<template>
  <div class="mb-4">
    <div class="questions-dropdown">
      <div class="qustions-btn" @click="visible = !visible">
        <h6>{{ item.title }}</h6>
        <div>
          <font-awesome-icon icon="plus" v-if="!visible" key="on" />
          <font-awesome-icon icon="minus" v-else key="of" />
        </div> 
      </div>
    </div>
    <!-- <transition name="dropdown"> -->
      <div v-if="visible" class="dropdown-content">{{ item.description }}</div>
    <!-- </transition> -->
  </div>
</template>

<script>
export default {
  props: ["item"],
  data() {
    return {
      visible: false
    };
  }
};
</script>

<style lang="scss" scoped>
.questions-dropdown {
  border-radius: 10px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 1);
  .qustions-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h6 {
      font-weight: bold;
    }
    .fa-w-14{
        color: #ea0e0e;
    }
  }
}
.dropdown-content {
  border-radius: 0 0 10px 10px;
  background-color: rgb(250, 250, 251);
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
}
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.2s ease;
}
.dropdown-enter,
.dropdown-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}
</style>