<template>
  <div id="app">
    <div>
      <Nav />
      <Header />
    </div>
    <keep-alive>
      <router-view></router-view>
      <Main />
    </keep-alive>
    <Footer />
  </div>
</template>

<script>
import Header from "./layouts/Header.vue";
import Footer from "./layouts/Footer.vue";
import Nav from "./layouts/Nav.vue";
import Main from "./pages/Main.vue";

export default {
  components: {
    Header,
    Main,
    Footer,
    Nav
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: #f9f9fa;
  width: fit-content;
  padding: 0.5rem 1rem;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  border-radius: 5px;
  margin-bottom: 1rem;
  a {
    color: #000;
    font-weight: 600;
    &:first-child {
      border-bottom: 2px solid #f6bfc0;
      color: #eb1414 !important;
      &:hover {
        color: #8a0707 !important;
      }
    }
    &:hover {
      color: dimgray;
      text-decoration: none;
    }
  }
  .breadLine {
    width: 15px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 0 10px;
  }
}
.aikos-button {
  background-image: url("./assets/img/button-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  color: #fff !important;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #a50000;
  margin-top: 1rem;
  text-align: center;
  &:hover {
    background-blend-mode: multiply;
  }
}
.aikos-outline-button {
  padding: 1rem 2rem;
  color: #000;
  border-radius: 5px;
  border-bottom: 3px solid #a50000;
  margin-top: 1rem;
  border: 1px solid #dbe0e7;
  background-color: #fff;
  &:hover {
    background-color: #aaabab;
    color: #fff !important  ;
  }
}
.checkBox2,
.radio {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #e7e9ed;
    border-radius: 3px;
  }
  &::after {
    content: "";
    position: relative;
    display: block;
    top: 6px;
    margin: 0 auto;
    width: 22px;
    height: 22px;
    background-color: #eb0f0f;
    border-radius: 3px;
    opacity: 0;
  }
}
.checkBox2:checked {
  &::before {
    border: 1px solid #ff9393;
  }
  &::after {
    opacity: 1;
  }
}
.radio:checked {
  &::before {
    border: 1px solid #ff9393;
  }
  &::after {
    opacity: 1;
  }
}
</style>