<template>
  <footer>
    <div class="container">
      <div class="footer-start">
        <div class="footer-content">
          <h6>Покупателям</h6>
          <ul>
            <li>
              <a href="#">Услуги</a>
            </li>
            <li>
              <a href="#">Отзывы</a>
            </li>
            <li>
              <a href="#">Прайс-лист</a>
            </li>
            <li>
              <a href="#">Документы</a>
            </li>
            <li>
              <router-link to="QuestionAnswer">Вопрос / Ответ</router-link>
            </li>
            <li>
              <router-link to="contact">Контакты</router-link>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <h6>Информация</h6>
          <ul>
            <li>
              <a href="#">О компании</a>
            </li>
            <li>
              <a href="#">Новости</a>
            </li>
            <li>
              <a href="#">Статьи</a>
            </li>
            <li>
              <router-link to="/discount">Акции</router-link>
            </li>
            <li>
              <a href="#">Вакансии</a>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <h6>Шины</h6>
          <ul>
            <li>
              <a href="#">Легковые</a>
            </li>
            <li>
              <a href="#">Легкогрузовые</a>
            </li>
            <li>
              <a href="#">Грузовые</a>
            </li>
            <li>
              <a href="#">Сельхоз</a>
            </li>
            <li>
              <a href="#">КГШ</a>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <h6>Диски</h6>
          <ul>
            <li>
              <a href="#">Легковые</a>
            </li>
            <li>
              <a href="#">Грузовые</a>
            </li>
            <br />
            <li>
              <h5>
                <a href="#">Запчасти</a>
              </h5>
            </li>
            <li>
              <h5>
                <a href="#">Расходный материал</a>
              </h5>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <div class="footer-adress">
            <img src="../assets/img/call-answer.png" alt />
            <div>
              <h3>2710</h3>
              <a href="#">info@mail.ru</a>
            </div>
          </div>
          <div class="footer-adress">
            <img src="../assets/img/call-answer.png" alt />
            <div>
              <h5>
                г. Алматы,
                <br />ул. Рыскулова, 103
              </h5>
            </div>
          </div>
          <div class="footer-social">
            <p>Присоединяйся к нам:</p>
            <div class="d-flex justify-content-between">
              <a href="#">
                <img src="../assets/img/inst.png" alt />
              </a>
              <a href="#">
                <img src="../assets/img/vk.png" alt />
              </a>
              <a href="#">
                <img src="../assets/img/telegram.png" alt />
              </a>
              <a href="#">
                <img src="../assets/img/wp.png" alt />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-end">
      <div class="footer-flex container d-flex justify-content-between">
        <div class="footer-end-content">
          <p>Эйкос (с) Все права защищены</p>
        </div>
        <div class="footer-end-content">
          <img src="../assets/img/master-card.png" alt />
          <div class="product-alux">
            Разработано в
            <img src="../assets/img/logo-foot.png" alt />
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>


<style scoped lang="scss">
footer {
  border-top: 1px solid #ebeced;
  .footer-start {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 30px;
    .footer-content {
      width: 20%;
      h6 {
        font-weight: bold;
        margin-bottom: 30px;
      }
      ul {
        padding: 0;
        li {
          margin-top: 14px;
          list-style-type: none;
          a {
            color: #000;
          }
          h5 {
            font-weight: 600;
          }
        }
      }
      .footer-adress {
        display: flex;
        align-items: baseline;
        margin-bottom: 30px;
        img {
          margin-right: 1rem;
        }
      }
    }
  }

  .footer-end {
    border-top: 1px solid #ebeced;
    height: 60px;
    padding-top: 20px;
    p {
      margin: 0;
    }
    .footer-end-content {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-alux {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  footer {
    .footer-start {
      flex-wrap: wrap;
    }
    .footer-content {
      width: 50% !important;
    }
    .footer-flex {
      display: block !important;
      .footer-end-content {
        width: 100%;
        display: block;
        img {
          margin: 1rem 0;
        }
      }
    }
  }
}
</style>