<template>
  <div>
    <div class="header">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="logo">
            <router-link to="/main">
              <img src="../assets/img/logo.png" alt />
            </router-link>
          </div>
          <div class="col-xl-5 p-0 ml-4">
            <div class="menu-search">
              <a href="#" class="burger">
                <span></span>
              </a>
              <form action>
                <input type="text" placeholder="Я хочу найти..." />
                <a href="#">
                  <img src="../assets/img/search-icon.png" alt />
                </a>
              </form>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="shoping-header">
              <a href="#" class="shoping-icon">
                <img src="../assets/img/bar-chart.png" alt />
                <span>0</span>
              </a>
              <a href="#" class="shoping-icon">
                <img src="../assets/img/heart.png" alt />
                <span>1</span>
              </a>
              <!-- <a href="#" class="shoping-basket"> -->
              <router-link :to="{ name: 'Cart', params: {cart_data: CART}}" class="shoping-basket">
                <div class="shoping-span">
                  <span class="catalog_link_cart">{{CART.length}}</span>
                  <img src="../assets/img/shopping.png" alt />
                </div>Корзина
              </router-link>

              <!-- </a> -->
              <a href="#" class="user-icon">
                <img src="../assets/img/user.png" alt />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="header-mobile">
        <a href="#" class="burger" @click="mobileNav = !mobileNav">
          <span></span>
        </a>
        <div class="logo">
          <img src="../assets/img/logo.png" alt />
        </div>
      </div>
      <transition>
        <div class="mobile-nav" v-if="mobileNav">
          <ul>
            <li></li>
          </ul>
          <ul>
            <li></li>
          </ul>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      mobileNav: false
    };
  },
  computed: {
    ...mapGetters(["CART"])
  }
};
</script>


<style lang="scss">
.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb1010;
  border-bottom: 2px solid #a50000;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  position: relative;
  z-index: 8;

  span {
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: #fbd2d2;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fbd2d2;
      top: -7px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fbd2d2;
      top: 7px;
    }
  }
}
.header {
  box-shadow: 2px 22px 28.76px -13.76px rgba(242, 242, 243, 0.78);
  padding: 20px 0 35px 0;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999999;
  .menu-search {
    display: flex;
    justify-content: space-between;

    form {
      width: 85%;
      display: flex;
      align-items: center;
      position: relative;

      a {
        position: absolute;
        right: 5%;

        &:hover {
          filter: opacity(0.5);
        }
      }

      input {
        width: 100%;
        padding: 0.8rem 1.3rem;
        border: none;
        border-radius: 2rem;
        background-color: #fafafb;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #9b9fa7;
        }
      }
    }
  }

  .shoping-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    .shoping-icon {
      position: relative;
      span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        top: -10px;
        right: -10px;
        z-index: 9;
        background-color: #fff;
        box-shadow: 0px 6px 27.76px 0 rgba(242, 242, 243, 0.78);
        border-radius: 50%;
        color: #9b9fa7;
      }
      &:hover {
        span {
          color: #000;
        }
      }
    }

    .shoping-basket {
      width: 175px;
      height: 50px;
      padding: 0 2rem 0rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #000;
      font-weight: bold;
      border-radius: 10px;
      box-shadow: 0px 2px 6.37px 0.63px rgba(217, 222, 230, 0.54);
      transition: all 0.5s ease;
      .shoping-span {
        position: relative;
        width: fit-content;
        transition: all 0.5s ease;
        span {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          top: -10px;
          right: -10px;
          z-index: 9;
          background-color: #fff;
          box-shadow: 0px 3px 5.52px 0.48px rgba(206, 206, 212, 0.58);
          border-radius: 50%;
          background-color: #eb1010;
          color: #fff;
        }
      }
      &:hover {
        text-decoration: none;
        color: #9b9fa7;
      }
    }
    .user-icon {
      height: 50px;
      display: flex;
      align-items: center;
      border: 2px solid #e7e7eb;
      padding: 0 1rem;
      border-radius: 10px;
      transition: all 0.2s ease;
      &:hover {
        filter: invert(1);
      }
    }
  }
}

.header-mobile {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 22px 28.76px -13.76px rgba(242, 242, 243, 0.78);
  margin-bottom: 2rem;
  .logo {
    img {
      width: 60%;
      margin-left: 1.5rem;
    }
  }
}
.mobile-menu {
  display: none;
}
.mobile-nav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: #fff;
}
@media only screen and (max-width: 576px) {
  .mobile-menu {
    display: block;
  }
  .header {
    display: none !important;
  }
}
</style>