<template>
  <nav>
    <div class="container">
      <div class="nav-content row">
        <div class="col-xl-3">
          <div class="city-select d-flex align-items-center">
            <img src="../assets/img/place.png" alt />
            <select name="" id="">
              <option value="">fafaaf</option>
              <option value="">fafaaf</option>
              <option value="">fafaaf</option>
            </select>
            <v-select 
            label="city" 
            :value="selected" 
            :options="cities"
            :clearable="false"
            :components="{OpenIndicator}"></v-select>
          </div>
        </div>
        <div class="col-xl-5 p-0">
          <div class="nav-links h-100">
            <ul class="d-flex h-100 align-items-center p-0 m-0">
              <li v-for="nav in navigation" :key="nav.link">
                <a href="#">{{ nav.link }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="round-clock">
            <p>Круглосуточно: с 08:00-20:00</p>
            <div class="cal d-flex align-items-center">
              <img src="../assets/img/call-answer.png" alt />
              <h4>2710</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>


<script>

export default {  
  data: function() {
    return {
      title: "Header",
      selected: ["Алматы"],
        OpenIndicator: {
        render: createElement =>
          createElement("span", { class: { toggle: true } })
      },
      city: 'Алматы',
      cities: [
        { city: "Алматы" },
        { city: "Астана" },
        { city: "Шымкент" },
        { city: "Караганда" }
      ],
      navigation: [
        { link: "О компании" },
        { link: "Услуги" },
        { link: "Отзывы" },
        { link: "Новости" },
        { link: ". . ." }
      ]
    };
  }
};
</script>

// Style
<style lang="scss">
nav {
  display: flex ;
  border-bottom: 1px solid silver;
  padding: 1rem 0;
  font-size: 14px;
  .city-select {
    .v-select {
      min-width: 100px;
    }
    .vs__selected{
      font-weight: bold;
    }
    .vs__dropdown-toggle {
      cursor: pointer;
      border: none;
    }
    .vs__search {
      cursor: pointer;
    }
    .vs__open-indicator {
      width: 10px;
      height: 9px;
      background-image: url(../assets/img/select-arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .nav-content {
    .nav-links {
      ul {
        justify-content: center;

        li {
          list-style-type: none;

          a {
            color: #9b9fa7;
            font-size: 14px;
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
.vs__dropdown-menu{
  background-color: red !important;
  z-index: 99999 !important;
}

.round-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    color: #9b9fa7;
  }
}

.cal {
  img {
    margin-right: 1rem;
    width: 20px;
  }

  h4 {
    font-weight: bold;
  }
}

@media only screen and (max-width: 576px){
  nav{
    display: none !important;
  }
}
</style>