<template>
  <div>
    <h5>{{ item.title }}</h5>
    <ul>
      <li v-for="link in item.list" :key="link">
        <img src="@/assets/img/right-arrow.png" alt />
        <a href="#" @click="dropdown = !dropdown">{{link}}</a>
      </li>
      <div class="sitemapDropdown" v-if="dropdown">
        <a href="#" v-for="list in item.listDropdown" :key="list">{{ list }}</a>
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["item"],
  data() {
    return {
      dropdown: false
    };
  }
};
</script>